[2018-09-03 21:33] jlewi opened #1 "Setup Prow for this repository"
See:
https://github.com/kubeflow/community/blob/master/repository-setup.md

[2018-09-17 17:16] jlewi opened #3 "Create issues to get an initial POC out"
It would be great to get an initial POC out as part of 0.3.

What issues need to be resolved in order to get to an initial POC?

Admittedly this doesn't leave much time since we are trying to cut 0.3 this week although we could always cherry pick it into minor releases.

Lets create specific issues for all the work that needs to be addressed.

[2018-09-17 17:17] jlewi commented on #3
/assign @wbuchwalter

[2018-09-17 19:46] wbuchwalter commented on #3
@jlewi There is no blocking issue for the initial POC, it should be working already.
The only blocker I have currently is to migrate the repo itself, changing licence requires a bit of legal overhead on my side.
But if you are fine with working on wbuchwalter/fairing until this get resolved there is no real blocker.

[2018-09-18 18:16] cwbeitel commented on #3
Are you talking about a python library or a jupyter integration? This would be relevant in the case of the former: https://github.com/cwbeitel/tk/blob/master/docs/demo.ipynb

[2018-09-18 18:37] cwbeitel opened #4 "Notebook narratives (question/feature)"
Putting together narratives about lines of experimentation involving a series of jobs, loss plots, etc. would be really valuable for both communication as well as personal note-taking (e.g. https://github.com/cwbeitel/tk/blob/master/docs/demo.ipynb). @wbuchwalter shows an example of launching a TFJob from Jupyter notebook here: https://github.com/wbuchwalter/fairing/blob/master/examples/kubeflow-j

[2018-11-02 19:54] wbuchwalter opened #6 "JupyterHub support"
JupyterHub works in a different way than single notebooks causing various things to break, such as authentication.

It seems Kubeflow will be dropping JupyterHub support (https://github.com/kubeflow/kubeflow/issues/1769), but we might still want to support it as some users may still want to use it.

[2018-11-06 21:11] wbuchwalter opened #8 "Remove Metaparticle"
Metaparticle isn't maintained anymore, so we probably should just used the kubernetes client directly instead.

[2018-11-07 20:27] wbuchwalter opened #10 "Support Python2"
A sizeable chunck of data scientists are still using python 2, so we should make fairing compatible with it sooner than later.

[2018-11-07 20:28] wbuchwalter opened #11 "Pypi Organization"
Figure out how to allow owners to publish new release of the package on the pypi.

[2018-11-07 20:28] wbuchwalter commented on #11
/assign @wbuchwalter

[2018-11-07 20:30] wbuchwalter opened #12 "Document Strategy and Architecture APIs"
Once the APIs get stable enough, we should document them to make integration of new `strategies` and `architectures` easier.

[2018-11-07 20:30] wbuchwalter opened #13 "Design Document"
Write a design doc explaining fairing mechanisms at a high-level.

[2018-11-07 20:31] wbuchwalter commented on #13
/assign @wbuchwalter

[2018-11-08 11:57] hamedhsn commented on #8
@wbuchwalter happy to work on this. when do you think you will merge the configmap PR https://github.com/kubeflow/fairing/pull/15, we can reuse the KubeClient part.

[2018-11-12 16:37] wbuchwalter commented on #11
There doesn't seem to be any concept of organization or group on pypi, so we will just manually update the owners/maintainers of the package to reflect the https://github.com/kubeflow/fairing/blob/master/OWNERS.

[2018-11-12 16:37] #11 closed

[2018-11-12 22:07] wbuchwalter commented on #10
/assign @wbuchwalter

[2018-11-16 15:14] wbuchwalter commented on #10
Fixed by #18

[2018-11-16 15:14] #10 closed

[2018-11-21 16:04] AdrianLsk commented on #8
You can use s2i as a replacement for metaparticle https://blog.openshift.com/create-s2i-builder-image/

[2018-11-21 19:47] #8 closed

[2018-11-22 21:38] wbuchwalter opened #22 "Update Jupyter example"
The example with Jupyter is not up to date with the new API

[2018-11-22 22:21] wbuchwalter opened #23 "Allow specifying different base images for worker and ps in distributed training"
When using `@kubeflow.DistributedTraining` I should be able to specify different base images for `Worker` and `PS`, e.g: `tensorflow-gpu` and `tensorflow`.

The `Deployment` should probably call the `Builder` two times with the correct base image as argument.

[2018-11-22 22:31] wbuchwalter opened #24 "Add TensorBoard support"
It should be easy for a user to specify that they want a TensorBoard instance to be started alongside their jobs.
E.g:
[code]
This suppose telling the user where to write the `tfevents` files so they can then be mounted on an existing multiple-write (to support hyperparameter search later on) PVC.

[2018-11-22 22:45] wbuchwalter opened #25 "Add Support for Hyper-params Search"
I should be able to do something akin to:
[code]
And it should start multiple jobs with different HP combination so I can quickly find the best one.

You can the previously existing implementation of that here: https://github.com/wbuchwalter/fairing/blob/master/examples/hyperparameter-tuning/main.py.

This implementation is not perfect however, mainly because the hyper parameters where computed at

[2018-11-22 22:47] wbuchwalter opened #26 "Add Unit Tests"

[2018-11-22 22:47] wbuchwalter opened #27 "Create a Developer Guide"

[2018-11-26 14:23] wbuchwalter opened #28 "Admin Config"
Admin should be able to create a `ConfigMap` that would then be pulled by fairing and act as a global configuration.
This `ConfigMap` could contain settings such as:
* Which Builders are allowed
* Which Backend is allowd (kubeflow vs k8s)
* Restriction on maximum number of parallels run
* etc.

[2018-12-03 19:04] wbuchwalter opened #30 "Dependency Management"
We need a better way to handle dependency management.
Ideally we would like to ensure that all python packages installed locally will also be installed on the target environment. This would solve two issues:
* Ensure that all the needed dependencies are available (e.g. some people might install additional deps doing something like `!pip install somelib` in their notebook)
* Greatly simplify the de

[2018-12-04 17:45] r2d4 opened #31 "Import error when file named `notebook.py`"
[code]

We should assign the generated notebook file a random name (possibly based on a reproducible, fast hash like md5).

/kind bug

[2018-12-08 20:45] wbuchwalter opened #33 "Look at Papermill"
https://papermill.readthedocs.io/en/latest/usage.html#executing-a-notebook

This could potentially be a better approach than using nbconvert.
cc @r2d4

[2018-12-08 22:45] jlewi opened #34 "import fairing fails for gcr.io/kubeflow-images-public/fairing:v0.0.1"
I tried spinning up a notebook in Kubeflow 0.3 using image gcr.io/kubeflow-images-public/fairing:v0.0.1

[code]
In the notebook when I try to import fairing I get the following error

[code]

But if I start a pod running that image

[code]

Import works just fine.

seems to be different from #31

[2018-12-08 22:46] jlewi commented on #34
The error is different from #31 and my notebook is named "demo.ipynb"

[2018-12-08 22:48] jlewi commented on #34
If I start the image outside jupyter and import fairing I can see that is installed in /home/jovyan

[code]
So I think the problem is that it is getting overrwritten by the pd which gets mounted at /home/jovyan

[2018-12-08 23:28] jlewi opened #36 "Job errors; fairing not stripping out code"
I took the demo notebook in #32 and added a cell with the following commands

[code]

When I submitted the model for training with fairing the output was

[code]

It looks like the problem might be due to the fact that the shell commands aren't being stripped out as part of converting the notebook to a python file.

[2018-12-08 23:32] jlewi commented on #36
Deleting the cell worked.

Commenting it out wasn't sufficient.

[2018-12-08 23:38] jlewi opened #37 "Job log ends with rpc error"
I ran the demo in #32.

The logs from the job end with an rpc error

[code]

I believe this error is to be expected because the container will be deleted when the job finishes and if we are tailing the logs the tail will end with an error.

Assuming thats accurate, this behavior will undoubtedly confuse some people.

So we should try to avoid surfacing that error if possible.

[2018-12-10 14:01] jlewi commented on #1
@r2d4 Has this been fixed?

[2018-12-10 14:02] jlewi opened #38 "fairing should support deploying models"
We'd like to support deploying models using fairing.

A strawman goal would be able to walk through mnist E2E entirely in a notebook.

e.g. train the model, deploy the model, send predictions to the model.

[2018-12-10 14:08] jlewi opened #39 "training mode/config should be set via functions not class decorators"
Currently the class decorator determines the training mode (e.g. local vs. distributed).

[code]

The downside of this approach is that the user has to change the class annotation in order to change the mode of training. I think it would be preferable to be able to change how it runs just with parameters to the train function e.g

[code]

[2018-12-10 14:11] jlewi commented on #38
I think there are potentially two different cases we should consider.

1. A TensorFlow model that is exported as SavedModel proto
1. A non-TF model

In the first case if the training function exports a saved model we can just deploy a TFServing instance that loads that model.

In the second case, I think the user would need to define a predict method that would then be invoked by RPC. We might wan

[2018-12-10 14:18] jlewi opened #40 "Support batch prediction"
We'd like fairing to support batch prediction.

See also #38 support deploying models.

we'd like to be able to fire of a batch predict job from a notebook using fairing.

As in online predict (#38) there are likely two cases

1. TF model
1. Non TF model

In the case of #1 we can probably use our existing Beam transform for doing batch predict using a saved model.

In the case of #2 the user proba

[2018-12-10 14:20] jlewi opened #41 "Run notebook locally launch on K8s cluster"
I think one of the biggest use cases for fairing will be running a notebook locally but firing off jobs on a cluster.

Does this already work? I assume its just a matter of configuring fairing to communicate properly with the K8s cluster.

Lets assume the user isn't running in a container; i.e. they just ran jupyter on their local machine. Can we get the K8s config from their kubeconfig file?

We

[2018-12-10 18:49] swiftdiaries commented on #41
I'd like to try this out :)
/assign @swiftdiaries

[2018-12-10 22:43] wbuchwalter commented on #41
Yes, this already works.
Fairing will check if it's running in k8s or not and use local or in-cluster config consequently.
So as long as you have access to the kubeconfig it will work.
The append builder is probably what you want to use, that way you don't have any dependency on docker.

[2018-12-17 00:10] jlewi opened #42 "Train TF locally within notebook"
Related to #39 don't use decorators

We'd like the user to be able to train the model locally within the notebook. Right now this is possible but it requires setting appropriate function decorators.

We'd like this to be more natural e.g.

[code]

[2018-12-17 00:15] jlewi opened #43 "Figure out how to monitor TFJobs launched by fairing"
We need to figure out how we want to monitor TFjobs launched from a notebook using fairing.

Right now we just tail the logs of the pods. Does this prevent execution of other cells in the notebook?

Should we just provide a link to dashboards? Should these links be configurable based on the user's deployment? e.g. on GKE we would provide links to stackdriver and the GKE workloads dashboard?

Shoul

[2018-12-17 00:36] jlewi opened #44 "Support local prediction with TF models"
With fairing we'd like to be able to predict locally within the notebook.

For example

[code]

We need to figure out the exact syntax and model signatures.

For example do we use TF.Example protos?

[2018-12-17 00:38] jlewi commented on #38
Should we split this into separate issue for TF and non-TF models?

[2018-12-17 00:40] jlewi opened #45 "fairing spits out K8s manifest when deploying a model"
See #38 we'd like fairing to support deploying models on K8s.

When it does, should fairing spit out a YAML or ksonnet manifest that could be checked into source control and used?

[2018-12-17 00:48] jlewi opened #46 "support local prediction with python models (scikits/xgboost)"
We need to support running prediction inside the notebook for python models (e.g. scikits/xgboost).

What should the input output format be?

Should we use numpy arrays?
Should we follow Seldon's API?

/cc @cliveseldon

[2018-12-17 00:51] jlewi opened #47 "Fire off K8s job to train python models"
fairing should support firing off K8s jobs to train python models (e.g. xgboost/scikits) learn models.

Need to figure out
  1. What the syntax is
  1. How to move data back and forth

[2018-12-17 16:13] ashahab commented on #47
Users are bringing data to notebook. Can the same work for job?

On Mon, Dec 17, 2018, 6:28 AM William Buchwalter <notifications@github.com
wrote:

[2018-12-17 19:48] wbuchwalter commented on #47
If the logic to access the data is in your code, then yes it will work out of the box.

However I suspect many users will want to access their data not through an API but instead rely on some pre-configured data store such as en EBS/AzureDisk or some already created PV. And we would need to find a way to allow users to specify these kind of sources without introducing too much complexity.

[2018-12-17 19:53] ashahab commented on #47
I see. It's about allowing users input information that's not notebook
code, but related.

On Mon, Dec 17, 2018, 11:48 AM William Buchwalter <notifications@github.com
wrote:

[2019-01-02 14:51] jlewi commented on #47
@ashahab I think you are correct in that we want to use fairing to fire off scikit jobs as K8s jobs so they can run asynchronously on other nodes.

I think what @wbuchwalter is saying that we don't want to use fairing to move data around. To move data around we would use a shared filesystem that can be accessed by both the notebook and the K8s job. For this there are two possibilities

   1. An ex

[2019-01-04 16:52] hamedhsn opened #49 "No module named 'fairing.training"
getting this when trigger a job
'Traceback (most recent call last):'
'  File "/app/main.py", line 31, in <module>'
'    from fairing.training import kubeflow'
"ModuleNotFoundError: No module named 'fairing.training'"

Seems like you have not published the new version.  `fairing==0.0.3`

[2019-01-07 11:58] hamedhsn commented on #49
@wbuchwalter can you have a look at this?

[2019-01-07 14:22] jlewi commented on #49
@hamedhsn Might be helpful if you could provide a little more context about what you ran to get that error?

/cc @r2d4

[2019-01-07 15:58] wbuchwalter commented on #49
@hamedhsn For now please do pip install from a commit id, we have to release a new version as you said.

[2019-01-07 17:03] hamedhsn commented on #49
was just testing the provided example and ran into the issue.

[2019-01-07 20:34] r2d4 commented on #37
/assign @r2d4

[2019-01-07 20:34] r2d4 commented on #36
/assign @r2d4

[2019-01-07 20:34] r2d4 commented on #45
/assign @r2d4

[2019-01-07 20:41] r2d4 commented on #46
/assign @r2d4 for documenting/exploring xgboost example.

[2019-01-07 20:41] r2d4 commented on #46
/assign @r2d4
for documenting/exploring xgboost example.

[2019-01-08 21:01] ashahab opened #51 "Use a builder that does not require creating an image"
For teams with less experience in setting up a secure and scalable image-registry and promotion pipeline, we would like a mode/option/builder in fairing that allows running the notebook code in distributed tfjobs but with no additional images.

How would the notebook code get distributed?
There are multiple solutions:
1. saving it to a configmap as https://github.com/kubeflow/fairing/pull/21 is do

[2019-01-08 22:01] r2d4 commented on #31
/assign @r2d4

[2019-01-10 19:23] cwbeitel opened #53 "Support for tensor2tensor"
It would be awesome if Fairing were compatible with [tensor2tensor](https://github.com/tensorflow/tensor2tensor) and if so to put together examples illustrating this.

Toward understanding compatibility - the default way of training with t2t is to run the [main function in t2t_trainer.py](https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/bin/t2t_trainer.py#L357), simplified bel

[2019-01-10 19:26] wbuchwalter opened #54 "Add Support for PyTorch"
We should add support for PyTorch, and later to other frameworks as well.

[2019-01-12 02:02] #45 closed

[2019-01-12 02:04] #36 closed

[2019-01-13 23:33] jlewi commented on #39
@mattf Any update on this?

[2019-01-22 18:45] zhenghuiwang commented on #47
The xgboost example for housing works right now after several issues being fixed. IIRC, Matt has been working on making it run in notebook @r2d4

[2019-01-30 01:48] jlewi commented on #39
@r2d4 Any update?

[2019-01-30 16:42] r2d4 commented on #39
@jlewi PTAL at #64. If that API looks good I'll go ahead and update the documentation on that PR

[2019-02-04 14:00] jlewi commented on #47
Will be fixed by #64

[2019-02-04 18:52] jlewi commented on #41
@swiftdiaries Any progress on this?

I'm downgrading to P2 for lack of resources and because its not part of the critical CUJs for 0.5.

[2019-02-04 20:11] r2d4 commented on #44
/assign @r2d4

[2019-02-04 20:20] jlewi commented on #38
/assign @r2d4

[2019-02-05 21:03] r2d4 commented on #47
Fixed by #64

/close

[2019-02-05 21:03] #47 closed

[2019-02-05 21:04] r2d4 commented on #42
Fixed by #64
/close

[2019-02-05 21:04] #42 closed

[2019-02-05 21:06] r2d4 commented on #43
I think tailing the logs is sufficient. We can provide a way to retrieve logs for completed jobs or save logs to object storage if users request it. I think we can close this and open up separate issues with more concrete feature requests if needed? @jlewi

[2019-02-05 21:07] r2d4 opened #65 "Builder should return just the image"
Instead of a podspec. The container entrypoint and environment variables should be baked into the container manifest.

/area fairing
/priority p1

[2019-02-05 21:08] r2d4 commented on #39
Fixed by #64
/close

[2019-02-05 21:08] #39 closed

[2019-02-05 21:09] r2d4 commented on #41
This should already work. Please reopen if you're having difficulty still.

/close

[2019-02-05 21:09] #41 closed

[2019-02-14 22:23] r2d4 opened #69 "Chain preprocessors"
It might be interesting to chain multiple pre-processors together

e.g.

ConvertNotebookPreprocessor ->
FunctionPreProcessor ->

[2019-02-14 22:23] r2d4 commented on #69
/kind feature-request

[2019-02-14 22:23] r2d4 commented on #69
/kind feature

[2019-02-14 22:24] r2d4 commented on #69
/addition feature

[2019-02-15 15:48] karthikv2k opened #71 "Setup a basic CI/CD system"
Let's use the basic version of travis ci to get unit tests and simple integration test using local docker builder.

[2019-02-15 15:48] karthikv2k commented on #71
/assign rpasricha

[2019-02-15 23:02] rpasricha opened #73 "Add support for managed backends"
In addition to supporting Kubeflow and native Kubernetes job submissions, we should provide the option for users to swap out their deployment for a managed service as well.

[2019-02-19 19:04] karthikv2k commented on #71
/assign rpasricha

[2019-02-19 19:07] #43 closed

[2019-02-19 19:10] abhi-g commented on #73
/cuj build-train-deploy

[2019-02-19 19:10] abhi-g commented on #73
/priority p0

[2019-02-19 19:12] karthikv2k commented on #73
/assign rpasricha

[2019-02-19 19:35] karthikv2k commented on #71
/priority p0

[2019-02-20 19:10] karthikv2k opened #74 "Add support for serializing current state of a function in a notebook along with its deps"
When users are working in a notebook, they would like to submit a function in in its current state to a remote cluster for training. This falls under the category of using notebooks as a scratch pad so executing the notebook/corresponding python code linearly doesn't make sense for these users. We can use cloudlpickle (https://github.com/cloudpipe/cloudpickle) to serialize the functions/classes in

[2019-02-20 19:10] karthikv2k commented on #74
/assign @karthikv2k

[2019-02-20 21:36] karthikv2k opened #75 "Create temp files and folders dynamically instead of using constant default values"
Currently preprocessors defaults to using a constant filename to write artifacts that will create issues in concurrent job submissions in real use case and also running concurrent tests. We should default to using tempfile module for creating temp files/dirs.

[2019-02-20 21:40] karthikv2k opened #76 "Create strong boundaries among preprocessors, builders, and deployers"
Currently preprocessor is directly passed to builders and some use them to get the context tar files. This should be changed so that builders get standard input from preprocessors. It is also makes testing builders easy without relying on creating a preprocessor.

[2019-02-21 03:29] suensummit commented on #49
I installed `fairing` using a commit id but still ran into this issue:
[code]
[code]

[2019-02-21 08:33] suensummit commented on #49
Oh it seems something not finished yet...
https://github.com/kubeflow/fairing/pull/68/files#r258633717

[2019-02-21 21:26] karthikv2k opened #78 "Avoid pinning exact versions of dependencies"
Currently all of the pypi dependencies are pinned to exact versions ("=="). Typically dependencies are specified with min versions (">=") to avoid any conflict with other packages in the environment.

[2019-02-21 22:49] rpasricha opened #79 "Remove dependencies on Kubeconfig at class / function definition time"
Transferred from #77

Many classes (e.g. deployers) assume a Kubeconfig is present, which cause tests to fail. These classes will need to be updated if they should be accessible without an existing Kubeconfig set up.

[2019-02-21 22:53] #71 closed

[2019-02-23 00:15] r2d4 opened #80 "Update examples"
The examples are out of date according the new API

/kind bug
/kind documentation

[2019-02-25 17:50] r2d4 opened #81 "Function preprocessor does not work in notebooks"
We need to chain the notebook preprocessor together with the function preprocessor

#69

/kind bug

[2019-02-25 21:31] r2d4 opened #82 "Add pylint presubmit test to travis"

[2019-02-26 00:16] rpasricha opened #83 "Evaluate Cloud Build as a CI/CD system"
To make it easier to access various services and run end-to-end and integration tests.

[2019-02-26 00:17] rpasricha commented on #83
/assign @rpasricha

[2019-02-26 00:22] karthikv2k opened #84 "Running in ipython kernel gives an error"
commit hash: 27357f8cb107e429e105f0b29837f59e9027c732
[code]

[2019-02-26 20:05] karthikv2k commented on #74
#85

[2019-02-26 22:00] #81 closed

[2019-02-27 17:15] karthikv2k opened #87 "Update README with setup instructions for all supported envs"
We need setup instructions for:

each entrypoint:
- local notebook running in a virtualenv
- KF Notebook
- AI Platform notebooks

for each backend:
- Kubeflow on GKE
- Kubeflow on-prem
- Managed backends

[2019-02-27 17:17] karthikv2k opened #88 "Publish draft roadmap for 2019"

[2019-02-27 17:18] karthikv2k opened #89 "Publish API proposal for training and prediction"

[2019-02-27 18:56] r2d4 opened #90 "Preprocessor context generation respects dockerignore"
Currently we build the context manually and do not respect the dockerignore file.

[2019-03-01 01:34] rpasricha opened #93 "Add requiements.txt installation to append builder"
Currently docker and cluster builders pip install the user's requirements.txt file if provided, but not the append builder.

[2019-03-01 18:44] r2d4 commented on #93
Here's two solutions:

1. create a fake virtualenv, run pip install within new virtualenv, and package that up.
2. ignore requirements.txt and package up existing virtualenv

[2019-03-01 23:36] karthikv2k commented on #93
This might be running under OS/env that might work with the base container right?

Same as above. Actually, I remember you bringing catching this issue in one of our meetings.

[2019-03-02 00:16] karthikv2k opened #95 "Make prediction endpoint deployment work with function preprocessor in a notebook"

[2019-03-02 00:54] karthikv2k commented on #95
/assign @karthikv2k

[2019-03-04 16:40] karthikv2k commented on #78
/assign @karthikv2k

[2019-03-05 18:08] #78 closed

[2019-03-05 22:07] r2d4 opened #99 "Update training notebook example"
https://github.com/kubeflow/fairing/blob/master/examples/notebook/fairing-xgboost.ipynb

[2019-03-05 22:07] r2d4 opened #100 "Publish prediction notebook example for Kubeflow"
https://github.com/kubeflow/fairing/tree/master/examples/prediction but in notebook form

[2019-03-06 00:08] rpasricha opened #101 "Docker pull fails for appendbuilder with virtualenv"
If there is a virtualenv in the same directory as my code, it gets packaged and added to the image when using the append builder. However, this image is broken and a `docker pull` will fail with the following error:

[code]

[2019-03-06 00:11] rpasricha opened #102 "Version incompatibilities with function preprocessor"
When packaging the code using Python 3.5 and running the code with a Python 3.6 base image, the interpreter crashes:

[code]

[2019-03-06 21:59] karthikv2k opened #104 "Add APIs for training and prediction jobs"
Currently we don't have a high level abstractions for training and create online endpoint jobs. Currently the deployers control the behaviour for example, the prediction deployer is for deploying an online endpoint on a K8s cluster.  It is better to have a training and create online endpoint job abstractions that in turn uses different deployers. These deployers can be for K8s/KF or a managed back

[2019-03-06 22:10] karthikv2k commented on #101
/assign @r2d4

[2019-03-06 22:34] karthikv2k commented on #101
Very good find @rpasricha !

[2019-03-07 01:19] #83 closed

[2019-03-07 16:12] r2d4 commented on #101
Docker has some restrictions on the rootfs tarball

- no duplicate file paths
- no symlinks (I can't remember if they are just silently ignored or this errors)

Obviously the virtualenv violates both of those.

[2019-03-07 16:34] karthikv2k commented on #101
I can see virtualenvs having symlinks. How is the duplicate file paths are result of virtualenv? @rpasricha does your base image also has a virtualenv dir already and the new payload is adding duplicate file paths?

[2019-03-07 16:35] r2d4 commented on #101
Following symlinks could lead to duplicate paths? I'm not sure - we use the same context generation for the other builders as well. Does it fail on those?

[2019-03-07 19:17] rpasricha commented on #101
@karthikv2k I'm just running `examples/simple/main.py` directly, using the base image: `tensorflow/tensorflow:latest-py3`.

@r2d4 I see the same issue when using the docker builder, except here it fails during the build stage (which is a better outcome). Here's the error:

`docker.errors.APIError: 500 Server Error: Internal Server Error ("Error processing tar file(exit status 1): open /app/env2/in

[2019-03-07 19:19] r2d4 commented on #101
We can probably explicitly ignore symlinks in the context tar generation, which should solve our issues

[2019-03-07 19:27] karthikv2k commented on #101
@rpasricha can you paste all commands that reproduces this issue? I am interested in knowing how you create virtualenv.

[2019-03-07 19:32] rpasricha commented on #101
@karthikv2k Since packaging all of the files takes a while I'm assuming there's a virtualenv in a different directory that has fairing + dependencies installed.

From `examples/simple`
1. `virtualenv -p python3 env`
2. `python main.py`

If using docker builder the image creation will fail, but for append builder you can verify with `docker pull <generated image>`

[2019-03-07 19:50] rpasricha commented on #101
@r2d4 I tried ignoring symlinks in the context generation process and that fixed the docker builder error but not append builder.

[2019-03-08 19:31] rpasricha opened #106 "Submitted kubeflow jobs don't have access to other services"
E.g. GCS -- we need to make sure that jobs that are submitted have the appropriate kubeflow-user service account credentials set.

/kind bug

[2019-03-08 19:31] rpasricha commented on #106
/assign @rpasricha

[2019-03-10 23:08] jlewi commented on #46
@r2d4 @karthikv2k How's this coming? What work is remaining after #91?

[2019-03-11 20:35] karthikv2k opened #108 "Option to specify #GPUs to the training job"

[2019-03-11 20:39] karthikv2k opened #109 "Add training job API - subtask of #104"

[2019-03-11 20:39] karthikv2k opened #110 "Add create endpoint/ model deploy job API - subtask of #104"

[2019-03-11 20:42] karthikv2k commented on #46
Needs #95 [WIP] to support deploying models from Notebook.

[2019-03-11 20:46] karthikv2k opened #111 "Add support for deploying models in a managed service."
A lot of users use managed service for running product inference workload so it is good to have an option to deploy models to managed backend (e.g. ML engine in gcp) after training their model in KF.

Subtask of #73

[2019-03-14 21:16] rpasricha opened #118 "Create global deployment configuration options"
From #112

Different config options might want to be set when submitting jobs to Kubeflow deployments in different locations (e.g. on-prem vs. GCP).

Having a global configuration flag that specifies the deployment location can allow additional customizations to be applied, e.g. secrets, volumes, labels, etc.

[2019-03-15 16:03] hamedhsn opened #119 "import fairing hangs in notebook"
when I import fairing it hangs. digging a bit and found that the current dir is `/home/jovyan`
and then preprocessor class scan all the files under that path`input_files=glob.glob("**", recursive=True)`
https://github.com/kubeflow/fairing/blob/master/fairing/preprocessors/base.py#L24
and if like my case, I have a TB of data under that it takes ages to scan them all.

I think the implementation nee

[2019-03-15 20:25] r2d4 commented on #119
Thats a good observation. Maybe we don't use glob pattern by default. Or only glob python files.

Any training data or configuration that needs to be added to the container should use the explicit `output_map`

[2019-03-15 23:18] #101 closed

[2019-03-15 23:21] karthikv2k commented on #119
Thanks @hamedhsn . I was about to create this issue :)
In my case, I imported fairing and it scanned all the files in pwd and then I removed some files as part of my code and then when I tried running a remote job, it failed because of the missing file(s).

Will fix it as part of the PR that I am working on.

[2019-03-16 20:55] hamedhsn commented on #119
thanks guys :)
the other thing I noticed in here https://github.com/kubeflow/fairing/blob/master/fairing/preprocessors/base.py#L43
if you have more python files it does pick the first file which might not be the right one.

[2019-03-18 15:29] karthikv2k opened #121 "Set environment variable to distinguish between train and prediction job"
When users use single model class that has both train and predict method. In the "\_\_init\_\_()" they want to know whether it is a train or a prediction job so that they can do things like loading the model into memory for prediction jobs. An environment variable similar to FAIRING_RUNTIME will fix this.

[2019-03-18 16:37] karthikv2k opened #122 "Find a better way to support deployer specific preprocessing"
Some deployers need to preprocess to make the context compatible with that deployer (e.g. seldon needs a module with the same name as the model class) or optimize the context (e.g. tensorRT server may want to covert the given model to tensorRT format that is expensive to do it in runtime). One possible solution is that build a framework to apply deployer specific preprocessing after the standard p

[2019-03-18 18:40] karthikv2k opened #124 "Create python client to call prediction endpoints"
Currently we use curl to send examples against a prediction endpoint (e.g. https://github.com/kubeflow/fairing/blob/master/examples/prediction/README.md). We need a python client that does this. This will make much better UX for data scientists.

[2019-03-18 21:14] r2d4 opened #125 "Add ability to reuse secret for cluster builder"
The Kubeflow user service account doesn't have permissions to create secrets, and we should reuse the existing mounted secret anyways for Kubeflow notebooks.

[2019-03-18 21:17] r2d4 opened #126 "Prediction endpoint needs to wait for service to be populated"
The current implementation only waits for the service to be up, but that doesn't mean that the backend services behind the loadbalanacer will be up.

[2019-03-18 21:41] r2d4 opened #127 "Add more context on kubeconfig/dockerconfig"
https://github.com/kubeflow/fairing/pull/116#discussion_r266653103

[2019-03-18 22:46] karthikv2k opened #129 "Update examples to import file dependencies explicitly"
This is result of fixing #119

[2019-03-18 23:38] #95 closed

[2019-03-19 17:07] rpasricha opened #131 "Docker builder should set container command"
Instead of relying on the pod spec. This will help with debugging the generated container locally and also for submitting to additional environments.

[2019-03-19 23:26] #131 closed

[2019-03-20 17:53] #73 closed

[2019-03-20 19:20] karthikv2k commented on #104
#135

[2019-03-20 22:41] karthikv2k commented on #33
@martin-gorner @b0nol can you folks give some benefits of using papermill instead using plain nbconvert for notebook execution? This came up in our discussion today so wanted to check with you folks as you are frequent users of it.

Currently Fairing supports notebook execution through nbconvert so wanted to know the benefits of papermill . I see parametrizing notebook execution being the main fea

[2019-03-20 23:21] martin-gorner commented on #33
No, the #1 advantage of papermill is that the output you get is a NOTEBOOK.
Fully executed, with all cell outputs, visualisations and all the rest. If
you have a precision/recall graphic at the end of your notebook, you will
see it. nbconvert is no use at all. Once the python process terminates,
anything it could have displayed is gone. On a short-lived machine you lose
your results. Parametrizati

[2019-03-21 01:13] karthikv2k commented on #33
is the notebook output part of nbconvert too? https://nbconvert.readthedocs.io/en/latest/usage.html#convert-notebook

[2019-03-21 01:19] #119 closed

[2019-03-21 02:20] martin-gorner commented on #33
ah, ok, seems to be new. I have never used nbconvert this way. I do not
know how good it is.

On Wed, 20 Mar 2019 at 18:13, Karthik Ramasamy <notifications@github.com>
wrote:

--

Martin Görner | Developer Relations | mgorner@google.com | +33 1 42 68 57 83

[2019-03-21 06:10] karthikv2k commented on #33
Ok. It seems then we can add papermill for supporting parameterized execution, which seems not a P0, probably a P1 in Q2.

CC @paveldournov

[2019-03-22 16:22] #106 closed

[2019-03-22 17:20] #127 closed

[2019-03-23 01:28] karthikv2k opened #139 "Add integration tests using high level APIs (TrainJob and PredictionEndpoint)"

[2019-03-23 01:29] karthikv2k commented on #26
closing this issue as it is too wide of a focus and also we have added first set of unit tests.

[2019-03-23 01:29] #26 closed

[2019-03-23 01:31] #46 closed

[2019-03-23 01:32] karthikv2k commented on #49
closing this as the API mentioned here is changed. Please reopen if you encounter this on current master.

[2019-03-23 01:32] #49 closed

[2019-03-23 01:33] #74 closed

[2019-03-25 22:18] #125 closed

[2019-03-25 23:42] karthikv2k opened #141 "User supplied filenames are used as part of run commands needs quoting"
Currently base, full and converted notebook preprocessors use file names as part of the docker command. These filename should be quoted using something like https://docs.python.org/dev/library/shlex.html#shlex.quote to provide desired experience. For example, if the notebook name has spaces, the command will be broken.

[2019-03-26 16:41] #38 closed

[2019-03-26 18:46] karthikv2k commented on #44
Right now users can do arbitrary python predict function which supports TF models but it is not an efficient method.
Ref: https://github.com/kubeflow/fairing/tree/master/examples/prediction

This issue is specially for using TF serving for TF models in SavedModel format.

[2019-03-26 18:47] karthikv2k commented on #38
This is tracked in #44

This is completed.

[2019-03-27 00:22] karthikv2k opened #143 "Implement deployer interface for GCP serving deployer"

[2019-03-27 00:44] karthikv2k opened #145 "Add support for google cloud build"
[Cloud build](https://cloud.google.com/cloud-build/) has unique features like vulnerability scan that is useful for gcp users.

[2019-03-27 19:30] karthikv2k opened #146 "Implement log streaming for gcp deployer"

[2019-03-28 00:00] karthikv2k opened #148 "Use random file/blob name in the integration tests"
Currently we use [constant file name](https://github.com/kubeflow/fairing/blob/master/tests/integration/test_kubeflow_training.py#L15) for test files that is causing random test failures.

[2019-03-28 00:07] karthikv2k opened #149 "K8s serving deployer should exit after bringing up the endpoint"
Currently the serving deployer keeps waiting for more logs but it should exist as soon as the endpoint is up.

[2019-03-28 00:48] karthikv2k commented on #149
#126

[2019-03-28 01:03] karthikv2k opened #150 "Add code coverage report to the cloud build CI environment"

[2019-03-28 20:51] #150 closed

[2019-03-28 23:39] karthikv2k opened #152 "Install requirements before adding source files in dockerfile"
Currently we copy the context and then install requirements. This is creating new layers for requirements every time and increases the storage requirements unnecessarily. Also adds a lot of time in overhead.
https://github.com/kubeflow/fairing/blob/master/fairing/builders/dockerfile.py#L15

The fix is to check if there is a requirements.txt and then copy and install it before copying the source fi

[2019-03-29 00:56] karthikv2k opened #153 "Add warning for unprotected endpoint created by serving deployer"
Currently, the serving deployer creates a public endpoint without any authentication requirement. For now let's put a warning that clearly says public endpoint and don't use for sensitive use.

[2019-03-29 15:53] karthikv2k opened #154 "cluster builder is not passing namespace to context source and pod"
This is resulting in not able to create secrets in default namespace.

[2019-03-29 15:57] karthikv2k commented on #154
Thanks to @zabbasi for testing the cluster builder and help find this issue.

[2019-03-29 16:46] #148 closed

[2019-03-29 18:30] kramachandran opened #156 "Automatically copy model training artifcats to cloud storage."
## Overview

Currently users have to add code to copy training artifacts to cloud storage.  This degrades the user experience because requires users to write different code when training locally, as opposed to training remotely via either Kubeflow or GCP hosted services. Further, when executing a full notebook, there is no way to transfer the results to a cloud storage (users cannot add this code

[2019-03-29 18:34] karthikv2k commented on #156
CC @martin_gorner

[2019-03-29 21:37] karthikv2k opened #160 "Use posixpath instead os.path for manipulating destination file paths"
Currently we use os.path to manipulate file paths in the output container image but we should be using posixpath as we are assuming os of the container image is of posix type.

[2019-03-29 22:31] #154 closed

[2019-03-30 00:39] #152 closed

[2019-03-31 20:37] rpasricha commented on #33
We should use papermill for the full notebook preprocessor as it also provides the following benefits:

* Provides the ability to print cell outputs during execution
* Allows the ability to export the output notebook, to S3 / GCS / Azure

[2019-03-31 20:42] rpasricha opened #161 "Provide customized config options for GCP Deployer"
Currently we only allow users to set the region and scale_tier in the GCP deployer. We should allow users to provide more customized deployments.

This can be done by allowing users to provide an arbitrary dictionary for request parameters.

[2019-04-01 01:18] jlewi commented on #33
@rpasricha Should we move the to 0.6? Since we are trying to finalize the 0.5 release; so I assume this won't make it into 0.5?

[2019-04-01 01:19] jlewi commented on #161
Punting to 0.6 since 0.5 is nearing completion.

What is scale_tier? Does this only matter if not deploying on Kubeflow?

[2019-04-02 18:32] karthikv2k opened #164 "GCS context creator needs a gcs bucket with the same name as the project id"
We should be allowing the user to specify a gcs bucket for uploading context. Also, check if the bucket exists and throw a meaningful error if doesn't exist.

https://github.com/kubeflow/fairing/blob/master/fairing/builders/cluster/gcs_context.py#L29

[2019-04-02 19:59] #124 closed

[2019-04-02 19:59] #149 closed

[2019-04-02 20:05] #164 closed

[2019-04-02 20:39] #33 closed

[2019-04-02 21:14] karthikv2k opened #166 "Add full notebook and base preprocessor to high level TrainJob api"

[2019-04-02 21:40] karthikv2k opened #167 "Support conda as a package manager in addition to pip"
Conda can used to install a wider variety of packages and being embraced by other ML systems like ML Flow.

[2019-04-03 17:12] karthikv2k opened #173 "High level api is not setting the right pod mutators for gcp environments"
Even though the notebook pod has access to GOOGLE_APPLICATION_CREDENTIALS, when kicking off a training job from the notebook, the builder fails to upload the docker image to the GCS bucket.

[2019-04-03 17:29] abhi-g commented on #173
/cc abhi-g

[2019-04-03 18:10] r2d4 opened #174 "KubeflowBackend should not automatically choose TfJob"
https://github.com/kubeflow/fairing/blob/master/fairing/backends/backends.py#L53

[2019-04-03 18:24] #174 closed

[2019-04-03 20:59] zabbasi opened #176 "fairing fails to create an endpoint as arguments of get_service_external_endpoint() (name and namespace) are missing"
PredictionEndpoint fails with the following error

[code]

This happens when running examples/notebooks/prediction/xgboost-high-level-apis.ipynb from a local notebook.

[2019-04-03 20:59] zabbasi commented on #176
/cc @karthikv2k

[2019-04-03 21:47] #176 closed

[2019-04-03 22:20] #161 closed

[2019-04-04 07:24] karthikv2k opened #179 "Directly calling predict function in prediction endpoint is failing"
[code]
This fails as it tries to pass a numpy array directly to requests object. @abhi-g and I found it during our manual e2e testing.

[2019-04-04 17:28] abhi-g commented on #179
Will this interface allow for batch prediction, i.e., looks like test_X is a collection of data points to make predictions on?

[2019-04-04 18:16] karthikv2k commented on #179
it depends on the predict function impl. if the user handles batch of examples then we can do it.

[2019-04-04 19:44] #173 closed

[2019-04-04 22:35] #179 closed

[2019-04-04 23:11] karthikv2k opened #183 "Add numpy to requirements.txt"
prediction client uses numpy but it is not captured in the requirements. In the test the numpy was installed as a side effect of our configuration so tests are not failing for this.

[2019-04-05 00:19] rpasricha opened #184 "Failed to delete KF endpoint"
Running from a Jupyter notebook

Most likely a Kubernetes SDK dependency issue, I was running with Kubernetes 8.0.1, and this error does not occur with Kubernetes 9.0.0.

[code]

[2019-04-05 04:02] abhi-g opened #185 "Update fairing requirements to include kubernetes client version 9.0.0"
Looks like the code is relying on the 9.0.0 version of the Kubernetes Python client using APIs not available in 8.0.1

[2019-04-05 04:51] #185 closed

[2019-04-05 17:08] rpasricha commented on #184
Fixed by #186

[2019-04-05 17:08] #184 closed

[2019-04-05 20:55] #183 closed

[2019-04-08 17:12] r2d4 opened #191 "0.5 Release"
- [x] Cut release on Github and tag
- [x] Pip package

[2019-04-08 17:39] r2d4 commented on #191
https://github.com/kubeflow/fairing/releases/tag/v0.5.1

[2019-04-08 17:40] r2d4 commented on #191
https://pypi.org/project/fairing/

[2019-04-08 17:40] #191 closed

[2019-04-10 02:32] jlewi opened #194 "Define __version__ in fairing package"
Should we define "fairing.__version__" so people can easily tell what version of fairing they have installed?

This might be useful for customer support; e.g. asking what version a user is using.

[2019-04-10 03:37] jlewi opened #195 "UNAUTHORIZED error running the append builder"
Running the following code

[code]

Results in following output

[code]

Seems like its not getting my credentials. `GOOGLE_APPLICATION_CREDENTIALS` is set.

Do I need to run some command to configure docker to use those credentials?

[2019-04-10 03:43] jlewi commented on #195
Running the following commands in a cell seemed to fix the issue.

[code]

Should we document this? Add it to the examples?

[2019-04-10 03:52] jlewi opened #196 "Append Builder: Error seldon-core-microservice not found; Default image not correct"
I tried building a deploying an endpoint

[code]

The deployed pod ended up crashing with the following error.

[code]

Container spec is

[code]

[2019-04-10 03:55] jlewi commented on #196
It looks like the default image is

[code]

[2019-04-10 03:56] jlewi commented on #196
That image looks pretty old. Jan 23 2019.

[2019-04-10 03:58] jlewi commented on #196
https://github.com/kubeflow/fairing/blob/736c025e6d77f135bda345e5030398d5d2ef654a/examples/prediction/README.md

Looks like maybe we should be using: seldonio/seldon-core-s2i-python3:0.4

[2019-04-10 04:02] jlewi opened #197 "Append builder: Image tag is the same even though base image is different"
I used the append builder to build an image and then changed the base image and rebuilt.

In both cases the image URI was the same.

[code]

Is this expected? I would have expected unique image tags for each build if the base image changed.

[2019-04-10 04:13] jlewi commented on #196
Looks like that fixed that problem. Now I get a different error

[code]

So it looks like its a bug with the default image not being valid.

[2019-04-10 04:22] jlewi opened #198 "Labels not set on deployments"
It looks like no labels are set on the deployment.

There are labels on the pod.

Should we set the labels so that it was easy to delete all of the deployments created by fairing?

I launched a bunch of deployments which I wanted to delete so I was looking to do something like

[code]

To delete all the deployments.

Here's the deployment spec.

[code]

[2019-04-10 04:59] jlewi opened #199 "Add more logging to preprocessor and builders"
I think we should add more logging the to the preprocessors and builders so we can see what is actually happening.

I'm trying to convert my notebook to a model and deploy it.

My container images can't find the class defined in my notebook containing the py file.

It would be useful if we had logging statements that provided some information about how far it got.

For example it would be good to

[2019-04-10 11:37] jlewi opened #200 "Add auth to prediction to prediction"
How about attaching authorization credentials to prediction requests?
e.g here:
https://github.com/kubeflow/fairing/blob/642530567d0255f88b0f83b0a40b3325c303bfa2/fairing/ml_tasks/tasks.py#L69

A use case would be you are developing your models locally e.g. in an IDE but deploying on your cluster and you want to send your prediction requests.

Kubeflow should be exposed through a reachable ingress

[2019-04-10 11:48] jlewi opened #201 "Use a temporary directory for preprocessor output"
It looks like when I use fairing to convert my notebook it outputs a ".py" file in my current directory.

Would it be better to output it into a temporary directory?

If it outputs it to my current directory then it would tend to get checked into source control which may not be desirable.

[2019-04-10 11:58] jlewi opened #202 "Which notebook image to use xgboost-high-level-apis example?"
Is there an existing notebook image suitable for running the example:

https://github.com/kubeflow/fairing/blob/master/examples/prediction/xgboost-high-level-apis.ipynb

I tried using
gcr.io/kubeflow-images-public/tensorflow-1.13.1-notebook-cpu:v0.5.0

But it looks like its missing some dependencies.

[code]

I was able to work around this just by installing the modules.

[code]

/cc @karthikv2k @

[2019-04-10 12:05] jlewi commented on #198
I used the following recipe to clean up old deployments as a work around

[code]

Manually edit the file to remove deployments I don't want to delete. Then run

[code]

[2019-04-10 12:30] jlewi opened #203 "Why doesn't PredictionEndpoint/Task interface support the append builder?"
It looks like the PredictionEndpoint interface doesn't support the append builder.

It doesn't look like there's a way to pass to get_builder `needs_deps_installation=False` to force it to use the append builder rather than the ClusterBuilder (Kaniko)

https://github.com/kubeflow/fairing/blob/642530567d0255f88b0f83b0a40b3325c303bfa2/fairing/ml_tasks/tasks.py#L36

/cc @karthikv2k

[2019-04-10 12:45] jlewi commented on #80
It looks like there are some very old examples as well.
https://github.com/jlewi/fairing/tree/master/examples/kubeflow-jupyter-notebook

That are no longer relevant.

[2019-04-10 14:57] karthikv2k commented on #202
you have to install the requirements in https://github.com/kubeflow/fairing/blob/master/examples/prediction/requirements.txt . We didn't create a separate image for this example. We will add "!pip install -r requirements.txt" as the first cell in the notebook to let the users know they have to install the deps.

[2019-04-10 15:20] karthikv2k commented on #203
We need to a logic to figure out if requirements.txt or any other deps needs to be installed. We can tackle this in next sprint or so.

[2019-04-10 15:24] karthikv2k commented on #201
Yes that would be better.

Related issue: #75

[2019-04-10 15:26] karthikv2k commented on #198
yes, we should.

[2019-04-10 15:29] karthikv2k commented on #197
The image tag is generated by getting CRC for the preprocessor output https://github.com/kubeflow/fairing/blob/master/fairing/utils.py#L28 that doesn't depend on the base image.

@r2d4 what is the ideal solution here?

[2019-04-10 15:32] karthikv2k opened #204 "Cleanup examples"
We have a lot of stale examples that might not work with current version of the code so we should either migrate them or remove them for now.

@r2d4 @rpasricha

[2019-04-10 17:40] r2d4 commented on #197
The correct solution is to reference images by their digest

[2019-04-10 17:56] r2d4 commented on #195
Depends what base image you're using. I suggest using `docker-credential-gcr configure-docker` instead, which picks up GOOGLE_APPLICATION_CREDENTIALS by default.

We run this in the Kubeflow images already.

[2019-04-10 17:58] #198 closed

[2019-04-10 18:00] jlewi opened #206 "Don't expose services by default; Don't use Service Type LoadBalancer by default"
It looks like by default when you deploy with fairing you create a service of type loadbalancer
https://github.com/kubeflow/fairing/blob/642530567d0255f88b0f83b0a40b3325c303bfa2/fairing/deployers/serving/serving.py#L79

This exposes the model on a public endpoint by default.

In general we want to avoid making services publicly available. Especially for fairing since the target audience (datascien

[2019-04-10 18:00] jlewi commented on #206
/cc @karthikv2k @r2d4

[2019-04-10 18:07] karthikv2k commented on #206
#153

[2019-04-10 22:53] r2d4 commented on #206
Using a service mesh for routing would preclude fairing from deploying on vanilla Kubernetes clusters then. Is that ok?

[2019-04-11 13:55] jlewi opened #208 "Should fairing should add istio routing rules"
Should fairing add ISTIO routing rules to the deployed services so they are accessible behind the ingress Kubeflow deploys?

Kubeflow deployments will be using an ISTIO service mesh. This mesh can be securely exposed via the ISTIO gateway to external traffic (e.g. via IAP and a GCLB on GCP).

Should we add ISTIO routing rules to the deployed services so people can send predictions from outside the

[2019-04-11 13:57] jlewi commented on #197
I think this may have been user error on my part. I may not have been sending files to the builder (no output from preprocessor) and that's why the CRC was the same.

[2019-04-11 13:57] #197 closed

[2019-04-11 13:59] jlewi commented on #195
Thanks.

[2019-04-11 13:59] #195 closed

[2019-04-11 14:02] jlewi opened #209 "Update existing deployment?"
Should fairing support a mode where we can update an existing deployment rather than creating a new one?

I think the use case would be for a skaffold like development workflow where you are constantly redeploying with your latest changes. In this case it would be convenient to have some sugar to replace the existing deployment.

/cc @r2d4

[2019-04-11 18:31] r2d4 commented on #209
Skaffold does this by streaming logs based on container image, which we can do (we currently stream based on a label selector).

[2019-04-13 22:28] jlewi opened #212 "Could fairing run return the URL and other information?"
After building and deploying a model with fairing it might be useful to be able to access information.

For example, I'd like to know the URL of the endpoint so I can send predictions to it after calling fairing.config.run

https://github.com/kubeflow/fairing/blob/b69139ff86f1d87870858ddf56d6140f83fd21e6/fairing/config.py#L97

Would it make sense to add one or more URL methods to deployer so that

[2019-04-13 22:39] jlewi commented on #212
It looks like fairing_config.run doesn't store the preprocessor, builder, deployer anywhere.

[2019-04-13 22:44] jlewi commented on #212
Maybe run could just return the preprocessor, builder, and deployer?

[2019-04-15 19:14] karthikv2k opened #213 "Run tests in parallel using pytest-xdist"

[2019-04-18 16:59] IronPan opened #216 "Invalid file: PosixPath('XXX.py')"
I followed the main readme and saw this
![image](https://user-images.githubusercontent.com/2348602/56377902-58074f80-61c0-11e9-9768-48115f026283.png)

I'm using the managed GCP Notebook

[2019-04-19 20:21] karthikv2k opened #217 "Add GCP serving deployer to high level api"

[2019-04-22 12:19] jlewi commented on #143
@karthikv2k How's this coming?What is the GCP deployer? Does this mean deploying on Kubeflow?

[2019-04-22 12:19] jlewi commented on #213
@karthikv2k How's this coming?

[2019-04-22 19:24] karthikv2k commented on #143
#189 is ready to merge pending a placeholder for prow presumbmit tests that is causing presumbmit test failures.
This is for deploying on AI Platform prediction. We should change the managed service name from gcp/gcpmanaged to Google AI Platform in the code and docs

[2019-04-22 19:27] karthikv2k opened #219 "Rename GCPManaged class to AIPlatform"
Rename other instances where AI Platform services are called.

[2019-04-22 20:43] #213 closed

[2019-04-22 23:30] #143 closed

[2019-04-23 18:30] karthikv2k opened #222 "Provide a way to access logs of prediction service"
Once we launch a prediction endpoint through Fairing, the user has to manually navigate the K8s UI/kubectl to get the logs for the prediction pods. This experience can be made much better if we expose a way to stream logs similar to training jobs or give the right url to access the logs in stackdriver or similar service.

[2019-04-23 18:43] karthikv2k opened #223 "Don't cache docker image layers during post-commit test"
Currently we cache docker image layers from [previous builds](https://github.com/kubeflow/fairing/blob/master/cloudbuild.yaml#L3). This causes a condition where a fresh install using requirements.txt can have very different behavior compared to cached version. Yesterday, fresh install of Fairing was failing on my local system but not on the remote builds. The reason was that a new version of urlli

[2019-04-23 21:28] karthikv2k opened #224 "Remove notebook as a requirement and add nbconvert as a dependency"
Currently we take "notebook>=5.6.0" as a dependency and this is messing up with some notebook environment by overwriting the python executable path to system python. Actually we only need nbconvert in Fairing so we should only take nbconvert as a dependency and installing that doesn't cause any side effects.

[2019-04-25 18:15] karthikv2k opened #225 "Do we need a better name for this project?"
In our last community meeting, this topic came up. Currently we have components of Kubeflow that named literally like pipelines, metadata, tf-job, etc. Fairing is an exception to it. So I want to ask the community if we need to rename fairing into something like kubeflow/python-sdk. This reduces having to maintain multiple branding under kubeflow.

[2019-04-25 19:15] karthikv2k opened #227 "Test fairing in an on-prem infrastructure"

[2019-04-25 19:59] karthikv2k opened #228 "Add test requirements in setup.py"

[2019-04-25 20:59] karthikv2k commented on #224
correction: notebook lib is used in fairing. https://github.com/kubeflow/fairing/blob/master/fairing/notebook/notebook_util.py#L7
It seems we are using it only in one instance and only when running inside a notebook environment. We may be able to remove from fairing requirements in future.
It seems  the upgrade flag is the issue and updates the requirements even if it matches the required version

[2019-04-25 20:59] #224 closed

[2019-04-28 19:31] hamedhsn commented on #225
kubeflow/python-sdk makes a lot of sense imo

[2019-04-29 12:37] jlewi commented on #1
@karthikv2k @r2d4  I see #221 is pending; does that mean prow has been setup and we can close this issue?

[2019-04-29 12:40] jlewi commented on #212
Fixed by #207

[2019-04-29 12:40] #212 closed

[2019-04-29 12:41] jlewi commented on #203
@karthikv2k Could you assign a priority to this bug please?

[2019-04-29 12:45] jlewi commented on #69
@r2d4 Is this supported now or is there more work to do?

[2019-04-29 12:46] jlewi commented on #6
/lifecycle obsolete

[2019-04-29 12:46] #6 closed

[2019-04-29 12:47] jlewi opened #229 "Preprocessor to generate python code from notebook"
I think the current preprocessors for notebooks work by pickling and depickling the code.

Can we instead have a preprocessor that would work by generating a python file that strips out everything except

* imports
* class defining the train & predict methods

[2019-04-29 15:01] jlewi opened #230 "Document API/boundary between kubeflow and non Kubeflow platforms"
Fairing defines Cloud Native APIs; e.g. preprocessors, builders, deployer.

Its possible to implement these APIs to support deploying on non-Kubeflow platform; e.g. various SAAS or Cloud provided ML platforms.

There should be a clear boundary between neutral/reusable code and vendor specific code.

That boundary should be a Cloud/Kubernetes Native API. This is in keeping with the principles of Ku

[2019-04-30 07:38] gracechristina commented on #195
How do I know which base docker image to use? Is there any Dockerfile to specify what is the content of the docker image?

I used this image `tensorflow-2.0.0a-notebook-gpu` and I still need to run
!gcloud auth activate-service-account --key-file=${GOOGLE_APPLICATION_CREDENTIALS}
!gcloud auth configure-docker --quiet

The default configuration of the jupyterhub will give me this error when I run t

[2019-04-30 15:36] karthikv2k opened #232 "Self identify requests coming from Fairing SDK"
We need to add some instrumentation to identify requests/job submissions to KF and other backends to enable debugging and monitoring on the backend side. An example would be setting the user-agent in the http requests to "fairing<version>". This enable the ops team to find if there is a specific version of Fairing causing any issues and also to deprecate older versions.

[2019-04-30 15:39] karthikv2k commented on #232
CC @abhi-g @kramachandran

[2019-04-30 17:14] karthikv2k opened #233 "Default to current namespace instead of "Kubeflow" or None"
Works better in a multi-user setting.
CC @zabbasi

[2019-04-30 22:04] jlewi opened #234 "Figure out python packaging for fairing"
I think fairing is imported as

[code]

Should we instead make this a subpackage in "kubeflow"

e.g.

[code]

[2019-04-30 22:05] karthikv2k commented on #87
https://github.com/kubeflow/website/pull/668

[2019-04-30 22:06] karthikv2k opened #235 "Create a test for distributed training using tf-job deployer"

[2019-05-06 00:43] jlewi commented on #88
@karthikv2k Any update on this? In particular what do you plan on delivering in 0.6?

[2019-05-07 17:36] karthikv2k opened #236 "integration tests using tf-job is hanging"
this blocking post commit tests to timeout

[2019-05-07 17:39] karthikv2k opened #237 "tests using secrets api results in permission error"
The problem occurs when we trying to list secrets in kubeflow namespace.

{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"secrets is forbidden: User \"117832618853160246846\" cannot list secrets in the namespace \"kubeflow\": Required \"container.secrets.list\" permission.","reason":"Forbidden","details":{"kind":"secrets"},"code":403}

[2019-05-07 18:02] karthikv2k commented on #237
the issue exists in both low and high level APIS

[2019-05-08 00:13] karthikv2k commented on #237
giving the gcp service account K8s admin role solved this issue but don't know why this became an issue now as we have been using the same service account and roles for ever and it all worked properly.

CC @kunmingg

[2019-05-08 00:13] karthikv2k commented on #236
The job is getting launched and log streaming is getting stuck.

[2019-05-08 05:37] karthikv2k commented on #236
the issue seems to be change in label format in tf-controller https://github.com/kubeflow/tf-operator/commit/6f748507e0cafe787cb358b802176a53b6b11040

[2019-05-08 06:40] karthikv2k opened #239 "tf-job pods are not cleaned after job finishes"

[2019-05-08 22:50] #232 closed

[2019-05-08 23:53] karthikv2k commented on #87
https://www.kubeflow.org/docs/fairing/

[2019-05-08 23:53] #87 closed

[2019-05-09 08:40] lppier opened #240 "xgboost-high-level-apis.ipynb : RuntimeError: Not able to guess the right builder for this job!"
Hi, I trying to run the xgboost-high-level-apis.ipynb example following the instructions here , but am getting the following error.
[RuntimeError: Not able to guess the right builder for this job!](url)
Full error is shown below at the end - Am I doing something wrong here?

This happens when I run
[code]
[code]

[2019-05-09 23:13] karthikv2k commented on #240
Hi @lppier ,

Thanks for trying out Fairing. Can you please answer following questions for us to debug your issue?
1. Are you running this in a Jupyter notebook?
2. Where are you running your Jupyter notebook or python code? your laptop/desktop? in a Kubeflow notebook?
3. Do you have access to the docker daemon? you can test by executing "!docker ps" in your notebook.

We have different means of b

[2019-05-09 23:19] #237 closed

[2019-05-09 23:19] #236 closed

[2019-05-10 00:54] lppier commented on #240
Hi @karthikv2k ,

Yes.

Desktop, with gtx 1080 (if it matters). I followed the instructions here (local) https://www.kubeflow.org/docs/fairing/gcp-local-notebook/

I usually run docker with sudo, so if I run docker ps it has "permission denied"
I guess this is the issue? I have to run as superuser?

[2019-05-10 00:59] karthikv2k commented on #240
One solution is to add your user to the docker group. https://docs.docker.com/install/linux/linux-postinstall/#manage-docker-as-a-non-root-user
You need to logout and login to get change activated.

Do you run Kubeflow on GKE?

[2019-05-10 01:53] jlewi commented on #196
I think this might be fixed by https://github.com/kubeflow/fairing/pull/207

[2019-05-10 02:50] lppier commented on #240
Yes, I ran it on gke with accordance to the tutorial. I tore down the Kubeflow yesterday for fear of incurring charges - when I get some time I’ll set it up again and report back on this issue - thanks!

________________________________
From: Karthik Ramasamy <notifications@github.com>
Sent: Friday, May 10, 2019 8:59 AM
To: kubeflow/fairing
Cc: Pier; Mention
Subject: Re: [kubeflow/fairing] xgboost

[2019-05-10 04:39] karthikv2k commented on #240
You can try it with GCPManagedBackend quickly if you don't want to worry about tearing down the cluster.

[2019-05-10 09:49] lppier commented on #240
Thanks karthikv2k, it works now.

[2019-05-10 09:49] #240 closed

[2019-05-10 18:58] rexshang opened #242 "Add support for Lightgbm"
Support to train model in parallel is needed for Lightgbm.  This will help shorten the time required to train a bigger model.

[2019-05-10 19:47] karthikv2k opened #243 "Create API Reference documentation"
Options: https://wiki.python.org/moin/DocumentationTools

[2019-05-10 23:26] karthikv2k opened #244 "Release 0.5.3"

[2019-05-13 00:52] jlewi commented on #88
@karthikv2k ping?

[2019-05-13 01:39] jlewi commented on #194
@karthikv2k Can we close this issue?

[2019-05-13 18:00] #194 closed

[2019-05-13 19:38] abhi-g opened #246 "Create TensorFlow notebook to demonstrate distributed TF training and deployment"
E2E notebook based on Github issue summarization notebook for distributed Tensorflow using fairing.

[2019-05-13 23:41] #88 closed

[2019-05-13 23:49] #1 closed

[2019-05-14 02:55] andreyvelich opened #248 "Using Docker hub as Docker Registry"
I try to use my docker repository from here: https://hub.docker.com/ as `DOCKER_REGISTRY` in this notebook:  https://github.com/kubeflow/fairing/blob/master/examples/notebook/hello-world.ipynb.
Do we have some documentation how I can do it, if I don't want to use GCP for Docker repositories?

/cc @karthikv2k

[2019-05-16 18:20] karthikv2k opened #250 "Create a release process doc and a way to run tests on wheel package"

[2019-05-16 18:47] karthikv2k commented on #244
Released https://pypi.org/manage/project/fairing/release/0.5.3/

[2019-05-16 18:47] #244 closed

[2019-05-16 20:25] gabrielwen opened #251 "append builder fails if trying to re-deploy in notebook"
It works fine if deploying for the first time but fails in subsequent runs.  In notebook if kernel restarts the issue will be gone but still fails after first deployments.

Codes called fairing here:
https://github.com/gabrielwen/LinearModel/blob/aea58799a6e085758b3dfc0ad14004c413712279/deploy_with_fairing.py#L39

fairing fails here:
https://github.com/kubeflow/fairing/blob/7268ad08f4bf6cbb4bc95a2

[2019-05-16 22:17] karthikv2k commented on #248
Yes, you can use docker hub. You need to run "docker login"  to get the right creds to push.

If you are using KF notebooks then you need to run "docker login" within the container or copy your docker config (~/.docker/config.json) from your laptop to the notebook instance.

You may need to install docker client in the container to run "docker login" in the notebook instance.

CC @joeliedtke
Joe,

[2019-05-17 00:13] joeliedtke commented on #248
Thanks, I've added this as a note on kubeflow\website 594

[2019-05-17 03:37] jlewi opened #253 "PredictionEndpoint predict_nparray doesn't actually return the result"
PredictionEndpoint.predict doesn't actually return the prediction result
https://github.com/kubeflow/fairing/blob/08c81437fd9ed720cf4b780e25097fef9fa16cd6/fairing/ml_tasks/tasks.py#L83

It just logs it at level warning.

[2019-05-17 14:56] jlewi opened #254 "Wait for prediction endpoint hangs for ever in the case there is no external loadbalancer"
Here:
https://github.com/kubeflow/fairing/blob/cd3b0581c2a70c352ac2f66432bc2e023e3fbc7c/fairing/kubernetes/manager.py#L77

We wait for the loadbalancer to be ready; but there will never be a loadbalancer if we configured it to only use cluster ip

[2019-05-17 21:07] jlewi opened #255 "ConvertNotebookPreprocessor should take input_files"
https://github.com/kubeflow/fairing/blob/08c81437fd9ed720cf4b780e25097fef9fa16cd6/fairing/preprocessors/converted_notebook.py#L28

Should ConvertNotebookPreprocessor currently take input_files as an argument?

I think as a work around you can just set input_files after constructing the preprocessor.

[2019-05-17 21:12] jlewi commented on #255
I think we also need to override the files returned
https://github.com/kubeflow/fairing/blob/08c81437fd9ed720cf4b780e25097fef9fa16cd6/fairing/preprocessors/converted_notebook.py#L57

[2019-05-17 22:02] jlewi opened #256 "How to add volumes to the serving deployer"
How can we add volumes to the serving deployer?

The constructor for serving doesn't allow pod_spec_mutators to be set
https://github.com/kubeflow/fairing/blob/master/fairing/deployers/serving/serving.py

Unlike for jobs
But it looks like we can directly set the attribute.

[2019-05-17 22:05] jlewi commented on #256
Doesn't look like the pod mutators are applied though.
https://github.com/kubeflow/fairing/blob/08c81437fd9ed720cf4b780e25097fef9fa16cd6/fairing/deployers/serving/serving.py#L35

[2019-05-17 22:08] jlewi commented on #256
Actually it looks like deployer.deploy takes a pod spec so we can just modify that.

[2019-05-18 05:13] jlewi opened #257 "Job.deploy should return the job name"
Currently there's no way to get the job name of the actual job deployed
https://github.com/kubeflow/fairing/blob/08c81437fd9ed720cf4b780e25097fef9fa16cd6/fairing/deployers/job/job.py#L65

We should return the job name

[2019-05-18 17:18] jlewi opened #258 "Bug in predict in the xgboost example?"
https://github.com/kubeflow/fairing/blob/08c81437fd9ed720cf4b780e25097fef9fa16cd6/examples/prediction/xgboost-high-level-apis.ipynb#L175

This line seems wrong

[code]

Why would we want to return the same value twice? I suspect it should be

[code]

[2019-05-22 09:03] hamedhsn commented on #257
I need this. will make a PR for that.

[2019-05-22 15:21] karthikv2k opened #260 "Refractor utils.py for LightGBM to follow K8s pattern"
@abhi-g 's comment reg https://github.com/kubeflow/fairing/pull/259

At a high level the code to support distribution looks correct. But I feep like majority of the utils code looks like can fit an existing k8s pattern such as an operator? If so, can you please add a todo comment to rewrite the code with that pattern. It should be possible to implement in Python as well.

[2019-05-28 17:13] #257 closed

[2019-05-30 18:30] karthikv2k opened #265 "Expose a method in deployer to terminate jobs/deployments"

[2019-05-30 18:32] #242 closed

[2019-06-02 18:07] hamedhsn opened #268 "when deployer is Job, if job failed it will be recreated multiple time before it gets failed status"

[2019-06-02 18:07] hamedhsn commented on #268
I think we should not

[2019-06-03 18:10] joeliedtke commented on #248
Documentation for how to configure Fairing has been added at:
https://www.kubeflow.org/docs/fairing/configure-fairing/

[2019-06-03 18:20] andreyvelich commented on #248
Thanks. I can close it.

[2019-06-03 18:20] #248 closed

[2019-06-03 20:31] #268 closed

[2019-06-05 16:16] aronchick opened #271 "Roadmap update?"
Did all of the roadmap for Q2 launch? Specifically distributed TF Job?

cc @karthikv2k @jlewi

[2019-06-05 23:13] jlewi commented on #255
Here's the preprocessor I created for my kubecon demos.
https://github.com/jlewi/kubecon-demo/blob/master/fairing_util.py

Should we get that checked into fairing?

[2019-06-06 02:22] karthikv2k commented on #271
Distirbuted trianing TF (1.x and 2.0)

Distirbuted training for LightGBM

TF-Serving as an option for delpolyment in addition to Seldon model server

Improve documentation and testing

Improved support for Append builder

[2019-06-10 10:00] chaitanyak52 opened #273 "Error on running fairing ames model example"
/kind bug

I am trying to run  the ames model  prediction  using fairing as per the readme at
https://github.com/kubeflow/fairing/tree/master/examples/prediction on cloud and  i see pod the following error

 seldon_core.microservice:main:261 - INFO:  Starting microservice.py:main

2019-06-06 11:12:53,898 - seldon_core.microservice:main:292 - INFO:  Annotations: {}

Traceback (most recent call last

[2019-06-10 16:32] jlewi commented on #243
@karthikv2k Any progress on this? This has been in the "current sprint" for 28days.

[2019-06-10 16:35] jlewi commented on #196
@karthikv2k Any update on the status of this work?

I think one way to test this would be to use the demo notebook I used for kubecon
https://github.com/jlewi/kubecon-demo/blob/master/ames-xgboost-build-train-deploy.ipynb

I was using a fork of fairing. It would be great if that fork wasn't needed and we could run against master. Its possible that is already the case because all the requisite fixe

[2019-06-10 16:53] jlewi commented on #235
@karthikv2k Any update on this? Is someone working on this? If not should we move back to the backlog from "current sprint".

[2019-06-10 16:54] jlewi commented on #229
I created a simple preprocessor which I've been using in my demos.
https://github.com/jlewi/kubecon-demo/blob/master/fairing_util.py

Could we get this checked into the main repo so that users don't have to write it themselves?

[2019-06-10 16:57] jlewi commented on #203
An alternative solution as I did in my demo
https://github.com/jlewi/kubecon-demo

Is to use the lower level APIs and not use PredictionEndpoint/Task.

@karthikv2k Any thoughts on what a good path forward might be? i.e. should we handle this case by pointing folks to the lower level APIs? Or should we add support to the higher level APIs.

[2019-06-10 16:58] jlewi commented on #234
@karthikv2k What is the plan for 0.6 ? Do you think we can/should change the import as part of 0.6?

[2019-06-10 16:59] karthikv2k opened #274 "Support distributed training for LightGBM with data parallel mode"
/kind feature

**Describe the solution you'd like**
Currently distributed training support in Fairing for LightGBM doesn't support data parallel mode where the data is partitioned and each partition is copied to workers. This is useful for training large datasets.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-10 17:00] jlewi commented on #206
@karthikv2k What is the plan for 0.6?

[2019-06-10 17:43] jlewi commented on #230
@karthikv2k Is this on track for 0.6? Should we punt to 0.7?

[2019-06-10 18:43] karthikv2k commented on #230
We have no cycles to do this in 0.6 so removed it from 0.6 board.

[2019-06-10 18:44] karthikv2k commented on #206
We don't have cycles to fix it in 0.6.

[2019-06-10 18:46] karthikv2k commented on #203
We should be able to do this in high level api. We should be able to do it for 0.6.

[2019-06-10 18:49] karthikv2k commented on #235
We already have an integration test that uses tf-job .
https://github.com/kubeflow/fairing/blob/master/tests/integration/gcp/test_running_in_notebooks.py#L40
https://github.com/kubeflow/fairing/blob/master/fairing/frameworks/lightgbm.py#L233

We can add an integration test for tfjob using a tf example later.

[2019-06-10 18:49] #235 closed

[2019-06-10 18:55] karthikv2k commented on #196
no updates. I should be able to look into it next week.

[2019-06-10 19:06] jlewi commented on #243
@karthikv2k in the current sprint will get doc strings on the code.

That's blocking @joeliedtke from figuring out how to generate reference docs from the docs strings and publish it. Should we split that into a separate issue?

[2019-06-10 19:08] jlewi commented on #234
@karthikv2k is thinking we will stick with `import fairing` for 0.6 because there are a lot of places that need to be updated.

[2019-06-10 19:09] joeliedtke commented on #243
I'd like to include this as a part of [Kubeflow/Website 592](https://github.com/kubeflow/website/issues/592).

[2019-06-10 22:41] zabbasi opened #275 "import fairing fails on kubeflow notebook image of tf.1.13.1"
Here are the steps to reproduce the error:
1. create a notebook using gcr.io/kubeflow-images-public/tensorflow-1.13.1-notebook-cpu:v0.5.0
2. open a terminal and run `git clone https://github.com/kubeflow/fairing.git`
3- run `cd fairing`, then run `pip3 install -r requirements.txt`
4- run `cd examples/prediction` , then run `pip3 install -r requirements.txt`
5- open `fairing/examples/prediction/gxb

[2019-06-10 22:52] zabbasi commented on #275
if we remove step 3 from the above list, then it works.

[2019-06-10 22:52] #275 closed

[2019-06-11 18:41] karthikv2k opened #277 "Better error message when tf-job version mismatch happens"
/kind feature

**Describe the solution you'd like**
When a user runs an older tf-job operator. The error message thrown by fairing is a standard HTTP 404 message. We should give better instructions for the user to resolve this situation.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-12 14:26] vjrantal commented on #273
I am able to reproduce the same issue. Could it be the same root cause as in the issue discussed at https://github.com/kubeflow/fairing/issues/196#issuecomment-481526203?

[2019-06-12 15:45] vjrantal commented on #273
@chaitanyak52 It looks like this kind of change makes the example work https://github.com/vjrantal/fairing/commit/7f58f994d628392d43f01476bd146237cc36c404.

However, I am not sure if the intent is that user would not have to provide the input files like this so not necessarily saying this is the right kind of approach.

[2019-06-13 20:24] #274 closed

[2019-06-13 21:38] #203 closed

[2019-06-17 03:05] takmatsu opened #282 "Support AWS environment"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
* Support S3 as context resource.
* Support Kubernetes in AWS as Backend.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-18 07:32] dpaks opened #283 "Dataset Absent in Fairing Job Image"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Executed the foll. commands
[code]
remote_train() failed because the fairing_job pod didn't have dataset (ames_dataset) in it.

**What did you expect to happen:**
Training to progress

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the iss

[2019-06-18 10:11] dpaks opened #284 "Deployer Pod in Crashloopbackoff"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Ran the foll. commands to setup prediction EP
`fairing.config.set_deployer('serving', serving_class="HousingServe")
create_endpoint = fairing.config.fn(HousingServe)
create_endpoint()`
_Waiting for prediction endpoint to come up..._ is what was shown in the ipython terminal

Pod status w

[2019-06-18 14:18] jinchihe commented on #227
I will do some tests for on-prem cluster. Thanks.

[2019-06-18 14:39] jinchihe opened #286 "core dumped in the training pod based on "tensorflow/tensorflow:1.13.1-py""
/kind bug

**What steps did you take and what happened:**

Run examples under [kubeflow](https://github.com/kubeflow/fairing/tree/master/examples/kubeflow) with `base_image='tensorflow/tensorflow:1.13.1-py3'`

**What did you expect to happen:**
[code]
Then I checked details by running the command in the container, **core dumped**.
[code]

**Anything else you would like to add:**
[Miscellaneous inf

[2019-06-18 14:44] jinchihe commented on #286
Checked details, guess that's caused by python version? my python is 3.6.5 but in the `tensorflow/tensorflow:1.13.1-py3`, the python version is 3.5.2.

[code]

After I update the base image to `base_image='tensorflow/tensorflow:nightly-py3'` which includes python 3.6.8, the problem cannot be reproduced with the new base image.

Seem we need to update the base image in the examples? or the problem

[2019-06-18 14:57] josefkorbel opened #287 "Fairing training not visible in TFJob Dashboard"
/kind bug

**What steps did you take and what happened:**
I've used the HouseServing notebook example from fairing examples to deploy training job to Kubeflow. I replaced the model with my custom keras model using tf.keras API. I can see the logs how the model is training however I dont see anything in the TFJob Dashboard
[A clear and concise description of what the bug is.]
I am not entirely sure

[2019-06-18 18:33] karthikv2k commented on #287
For single node training we K8s Job API so you won't see that in TfJob dashboard but you can see it in K8s/GKE dashboard.

[2019-06-18 18:33] #287 closed

[2019-06-18 19:09] karthikv2k opened #288 "Check python version during execution for function preprocessor"
/kind feature

**Describe the solution you'd like**
Function preprocessor needs the python version to be the same for both local and remote python. If version mismatch, users get not a useful error message, something like unknown opcode. We should check the version mismatch before executing the payload in the function shim and output a useful message.

**Anything else you would like to add:**
[Mis

[2019-06-18 19:13] karthikv2k opened #289 "Warn users who are using function preprocessor for executing logic in python files"
/kind feature

**Describe the solution you'd like**
Function preprocessor is good for notebook use case but not so for working with python files. The main restriction for function preprocessor is that the python version should be same for both local python and the python in the docker. For executing code in python files the recommended way is to use base preprocessor or trainjob api with entrypoin

[2019-06-18 19:14] karthikv2k commented on #286
#288 #289

[2019-06-19 05:45] jinchihe opened #290 "Support KFServing to deploy model service"
/kind feature

**Describe the solution you'd like**
Suggest Fairing supporting kubeflow [KFServing](https://github.com/kubeflow/kfserving), KFserving has support few usual ML frameworks (such as tensorflow, scikitLearn, pyTorch), and that can be used to deploy a service quickly and easily from trained model and suppport rollout deployments gently. And kubeflow KFServing aims to solve 80% of model

[2019-06-19 06:12] jinchihe commented on #288
@karthikv2k  Great way to avoid the issue such as core dumped, maybe that's enough to compare main verion and sub version, such as python 2.7, 3.5 or 3.6, do not care 3.6.**x**. And how to pass the local python to remote, is that possaible to touch a tmp file and adding to docker image, and then compare that in remote?

[2019-06-19 06:20] karthikv2k commented on #288
just adding [another arg in function shim](https://github.com/kubeflow/fairing/blob/master/fairing/functions/function_shim.py#L47) and [populating it](https://github.com/kubeflow/fairing/blob/master/fairing/preprocessors/function.py#L77) in the function preprocessor should do the job.

[2019-06-19 07:14] jinchihe commented on #288
/assign @jinchihe

[2019-06-21 06:37] jinchihe commented on #290
Discussed with @karthikv2k, That's great to support KFServing in the Kubeflow Fairing. I'm going to start doing this. Thanks.

[2019-06-21 14:23] jinchihe opened #293 "Should allow user input service type, instead of hard code to LoadBalancer"
/kind feature

**Describe the solution you'd like**
For currectly implement, the `deployer Serving` only can deploy `LoadBalancer` service, I think we should support allowing user input service type, Because (1). the LoadBalancer may expose a public service which is not expected in some on-prem cluster, and (2) the some on-prem cluster may not support `LoadBalancer` mode by default.

Yes, I know t

[2019-06-21 14:52] #288 closed

[2019-06-21 14:54] jinchihe commented on #286
Closed the issue since that will not happen after the PR #291, Thanks.

[2019-06-21 14:54] #286 closed

[2019-06-21 14:58] karthikv2k commented on #290
Thanks for the initiative @jinchihe
CC:  @ellis-bigelow @yuzisun

[2019-06-21 20:54] karthikv2k opened #295 "Release v0.6"
/kind feature

**Describe the solution you'd like**
Release v0.6 along with KF 0.6

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-22 05:28] jinchihe opened #296 "Traceback when deploy tfjobs"
/kind bug

**What steps did you take and what happened:**
Traceback when deploy tfjobs, see below.

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Fairing version: (use `python -c "import fairing; print(fairing.__version__)"`): 0.5.3
- Kubeflow version: (version number can

[2019-06-22 05:33] jinchihe commented on #296
Checked more, seems that's caused by tfjobs version is out of date. From the Kubeflow, the tfjobs version is updated to `v1beta2` at least, but in the Fairing, tfjobs version still be `v1beta1`. We need to upgrade that.

Will send a PR to upgrade this. Thanks.

[2019-06-22 16:54] #282 closed

[2019-06-22 17:20] #289 closed

[2019-06-23 01:11] jinchihe opened #298 "Suggest adding pylint tests in kubeflow-fairing-presubmit for Fairing"
/kind feature

**Describe the solution you'd like**
Since this is Python project, suggest adding `pylint` tests in `kubeflow-fairing-presubmit`. `pylint` is very useful tool to check errors in Python code, and can ensure code standard.

[2019-06-26 12:58] jlewi commented on #196
@karthikv2k Any update on this?

[2019-06-27 00:05] #293 closed

[2019-06-27 00:05] #296 closed

[2019-06-27 01:30] jinchihe opened #302 "Add intergration testing for kfserving"
/kind feature

**Describe the solution you'd like**
Since the kfserving will be intergrated by https://github.com/kubeflow/fairing/pull/299. But the testing platform is not installed kfserving, so the cases will be failed. Firstly we should ensure the testing platform has kfserving then add some tests. May the kfserving will be installed with kubeflow installation, but need to confirm.

**Anything

[2019-06-27 01:31] jinchihe commented on #302
/assign @jinchihe

[2019-06-27 01:46] jinchihe commented on #302
We also need to make an end to end case for kfserving, from training model to serving using kfserving. Kfserving is going to support PVC case and reading model from local, will do this once that done. Thanks.
/cc @karthikv2k

[2019-06-27 06:20] SaschaHeyer opened #304 "Example shows error message on import"
/kind bug

**What steps did you take and what happened:**
1. Cloned the GitHub examples into a Kubeflow Notebook
1. Opened the following example /notebook/kubeflow/pipelines/notebooks/fairing/examples/train_job_api/main.ipynb
1. Run the example

I get the following error message:
[code]

**What did you expect to happen:**
No error message

**Environment:**

- Fairing version: ```module 'fairing' h

[2019-06-27 07:03] jinchihe commented on #304
@SaschaHeyer I think the `fairing/kubernetes/utils.py` is added recently by #262 , not included in the last official released 0.5.3, but that will be included next release. You can install from github or copy the file from github and then try again.

[2019-06-27 09:07] SaschaHeyer commented on #304
@jinchihe great thank you

[2019-06-27 09:38] jinchihe commented on #265
@karthikv2k Maybe I don't quite catch your meaning, but the jobs has method to cleanup, only need to set deployer with cleanup=True/False, as below, seems the requriement has been implemented [here](https://github.com/kubeflow/fairing/blob/48eea390e420e8c13970f2cdfa6f80c70c1908e4/fairing/deployers/job/job.py#L117).

[code]

And seems fairing do not support deploy `deployments`, now only job/tfjob/

[2019-06-27 14:28] jinchihe commented on #277
/assign @jinchihe

[2019-06-27 14:40] jinchihe commented on #277
@karthikv2k do you think if we should expose the tfjob version for user, let user can input that when create deployer? Seems the tfjobs frameworks have no big changes between new and old version.

[2019-06-27 14:44] karthikv2k commented on #44
This will be fixed once KFServing support is fully done. Related: #299

[2019-06-27 14:54] jinchihe commented on #256
Yes, that's my thinking too. Especially for on-prem cluster, we should support preparing(downloading something), training and serving with the persistent volume, all data and model will saved on the volumes, that's more consistent with user behavior than local saved. I'm going to implement, thanks.

/assign @jinchihe
/cc @karthikv2k

[2019-06-28 15:40] ahmedelmahy opened #307 "ImportError: cannot import name 'PredictionEndpoint'"
/kind bug

**What steps did you take and what happened:**
On Kubeflow, when I run a jupyter notebook as described here :
https://www.kubeflow.org/docs/fairing/gcp/tutorials/gcp-kubeflow-notebook/

**What did you expect to happen:**
I expected the tutorial to work as expected and the import to work fine

**Anything else you would like to add:**
[code]
-----------------------------------------------

[2019-07-01 08:09] lynochka opened #308 "Base_image comming from a private docker registry on GCP"
/kind feature

Hei, is there a way to change the docker builder so that there is a possibility to use as a base_image an image from a private docker registry on GCP?
The credentials in theory could be consumed from GCPManagedBackend, KubeflowGKEBackend, right?

**Anything else you would like to add:**

This is related to the projects coming from pipenv environments, while fairing is still a perfec

[2019-07-01 09:01] lynochka opened #309 "Adding secrets into the fairing job"
/kind feature

Could you please tell me what is the easiest way to adding the secrets into the fairing job?
Are the secrets read from the kubectl backend?

Thank you!

[2019-07-01 09:26] jinchihe commented on #254
Seems we can waiting for same long seconds (such as 300s), and raise error message if the loadbalancer is not ready? comments?

[2019-07-01 09:30] jinchihe commented on #239
I think we should let use choose delete tfjobs or not after tfjob finished.

/assign @jinchihe

[2019-07-01 09:38] jinchihe commented on #239
I remeber the pod of tfjobs will be deleted by default once done. Need to requirement is to remove tfjob or just remove tfjob's pod.

[2019-07-08 03:33] jinchihe opened #312 "Need better message during tfjob deploying"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

While deploy the tfjobs using fairing, there are some message in the process:

[code]

`Training job fairing-tfjob-svdtv launched. ` the message is unreasonable, since fairing-tfjob-svdtv is a tfjob, instead of Training job, will confuse user.

**What did you expect to happen:**
Better

[2019-07-08 19:06] #277 closed

[2019-07-11 08:26] #290 closed

[2019-07-11 21:26] jlewi commented on #233
@karthikv2k Any suggestion on how we might tackle this?

Should we do something like

* Have fairing look for POD_NAMESPACE environment variable
* Have JupyterNotebook set POD_NAMESPACE env variable on the pod?

[2019-07-12 04:31] shikha130vv opened #314 "Unused code, possible loss of push parameter"
/kind bug

In  https://github.com/kubeflow/fairing/blob/master/fairing/builders/cluster/gcs_context.py,
function
 def generate_pod_spec(self, image_name, push):
        args = ["--dockerfile=Dockerfile",
                          "--destination=" + image_name,
                          "--context=" + self.uploaded_context_url]
        if not push:
            args.append("--no-push")
        retur

[2019-07-12 09:31] shikha130vv opened #315 "Code review: possible incorrect condition"
In file fairing.backends.py
In function GKEBackend
if KubeManager().secret_exists(constants.GCP_CREDS_SECRET_NAME, self._namespace):
                msg.append("It seems you don't have permission to list/access secrets in your Kubeflow cluster."
                    "We need this permission in order to build a docker image using Kubeflow cluster."
                    "Adding Kubeneters Admin role t

[2019-07-13 10:28] jinchihe commented on #314
@shikha130vv Thanks for you raise the problem. We are going to introduce the `pytest` in #300 to check the related issues.

[2019-07-15 01:08] jlewi commented on #229
/assign @abcdefgs0324

[2019-07-15 22:38] karthikv2k opened #316 "Tailing log fails when used in a cluster with ISTIO"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
https://github.com/kubeflow/kubeflow/issues/3643

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Fairing version: (use `python -c "import fairing; print(fairing.__version

[2019-07-16 00:13] #316 closed

[2019-07-16 01:37] #239 closed

[2019-07-16 03:15] #229 closed

[2019-07-17 04:18] #253 closed

[2019-07-18 00:28] jlewi commented on #315
@shikha130vv Can you please explain what the incorrect condition is?

[2019-07-18 00:35] jlewi opened #319 "ConvertNotebookPreprocessorWithFire doesn't properly handle case where converted notebook exists"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

* Run through the [example](https://github.com/kubeflow/examples/blob/master/xgboost_synthetic/build-train-deploy.ipynb)

* The first time you run it; the file `build-train-deploy.py` is created
* The second time you run it we trigger this [code path](https://github.com/kubeflow/fairing

[2019-07-18 00:35] jlewi commented on #319
P0 because we'd like this to be fixed in time to use in a release blog post.

[2019-07-18 03:53] shikhabitgrit commented on #315
What I cannot understand is that if the function secret_exists returns true, which will happen if secret exists and is accessed, the message conveys that user may not have access to secrets....

[2019-07-18 06:20] jinchihe commented on #234
@jlewi Agree with you, as logged https://github.com/kubeflow/kubeflow/issues/3683, we should have a unified `kubeflow` SDK, so sub-project will import as `import kubeflow.fairing` , `import kubeflow.kfp` and `import kubeflow.lfmd` etc ...

[2019-07-18 06:24] jinchihe commented on #233
Has been fixed in https://github.com/kubeflow/fairing/pull/318?

[2019-07-18 06:38] jinchihe commented on #208
Fairing supports KFServing which basic on istio, not sure is that can satify the requirement but KFServing is developing to support more scenes ...

[2019-07-18 07:24] jinchihe commented on #309
You may use the `pod_spec_mutators` to add that.

[2019-07-18 14:22] #312 closed

[2019-07-22 01:56] jlewi commented on #234
So should we change to kubeflow.fairing in 0.6?

[2019-07-22 01:57] #233 closed

[2019-07-22 03:06] #319 closed

[2019-07-22 19:25] jlewi commented on #298
/assign @karthikv2k

[2019-07-24 17:54] swiftdiaries commented on #234
Yeah, +1

[2019-07-26 12:35] shikha130vv opened #323 "Redundant Code"
In preprocessors/function.py

        # Make sure the user code can be imported as a module
        self.output_map[os.path.join(fairing_dir, '__init__.py')] = \
            os.path.join(path_prefix, '__init__.py')

        # Make sure fairing can use imported as a module
        self.output_map[os.path.join(fairing_dir, '__init__.py')] = \
            os.path.join(path_prefix, "fairing", '__init_

[2019-07-26 13:12] Akashdesarda commented on #243
Will be athere any API refrence like pipeline sdk

[2019-07-28 23:38] jinchihe opened #324 "Support mounting PVC easily for on-prem cluster"
/kind feature

**Describe the solution you'd like**
Fairing can deploy the ML trainning as the Job in the Kubernetes cluster, but for onprem cluster, that's hard to save the model after the training pod finished. For on-prem Kubernetes cluster, that's goog way to save the intermediate data and model result to the PVC, and then the following `serving` step can directly load the model and public a s

[2019-07-28 23:38] jinchihe commented on #324
/assign @jinchihe
/cc @karthikv2k

[2019-07-30 01:41] jinchihe opened #326 "Add document for Fairing APIs"
/kind feature

**Describe the solution you'd like**
Kubeflow Fairing should have baisc documents for Fairing APIs, so that the user can just reading the documents when calling APIs, instead of reading code.

**Anything else you would like to add:**

[2019-07-30 02:54] jinchihe opened #328 "The pod_spec_mutators is inflexible"
/kind feature

**Describe the solution you'd like**
The `pod_spec_mutators` is inflexible, for example:
1. The `pod_spec_mutators` supports the built-in functions but I think we should let user can define the function then speficy the function by using `pod_spec_mutators`.
2. The `pod_spec_mutators` does not support pass parameter, for example, if user want to add a secret using `pod_spec_mutators

[2019-07-30 02:55] jinchihe commented on #328
@karthikv2k @abhi-g Any comments for this?

[2019-07-30 05:38] Akashdesarda opened #329 "Running Fairing on GKE takes secret user (IAM user) credential instead of basic user credential"
/kind bug

**What steps did you take and what happened:**
I tried to to run examples/prediction/xgboost-high-level-apis.ipynb on a GKE cluster (which does not have secret user or Cloud IAM access). After starting fairing job it is trying to get credential as a secret user (Cloud IAM), but mt cluster dosen't have one.
I have deployed Kubeflow using Basic authentication (i.e. using username and pass

[2019-07-30 06:29] jinchihe commented on #329
@Akashdesarda so you have a owned secret voulme which include user name and password, and you just want to mount your secret volume, instread of mount the `user-gcp-sa`, right?

Here I just logged a ticket #328 to enhance the `pod_spec_mutators` mechanism, I also think we should let user can sepcify the secret.

[2019-07-30 06:32] jinchihe opened #330 "Enhance kfserving intergration"
/kind feature

**Describe the solution you'd like**
Recently `KFServing` deployed the python SDK (after kfserving intergration), we should enhance the kfserving intergration to using python SDK, that's more simple and more professional. Thanks.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-07-30 06:32] jinchihe commented on #330
/assign @jinchihe
/cc @ellis-bigelow @yuzisun @karthikv2k

[2019-07-30 12:01] carlthome commented on #102
Which is particularly confusing with the GCP deployer, as AI platform is still only on Python 3.5 AFAIK.

This crashes with the same error:
[code]

And unfortunately there doesn't seem to be a GCP AI Platform compatible base image with the latest stable TensorFlow release in TensorFlow's own container registry:

([source])(https://hub.docker.com/r/tensorflow/tensorflow/)

[2019-07-30 13:52] carlthome commented on #102
As a workaround, [this image](https://cloud.google.com/ai-platform/deep-learning-containers/docs/choosing-container) seems to work fine: `gcr.io/deeplearning-platform-release/tf-gpu.1-14`

[2019-07-30 21:55] karthikv2k commented on #328
You can add additional parameter to backend constructor to accept user provided pod spec mutators.

You achieve this without modifying current design. Checkout https://github.com/kubeflow/fairing/blob/master/fairing/kubernetes/utils.py#L3

[2019-07-30 22:07] #256 closed

[2019-07-31 10:52] Akashdesarda commented on #329
I think it may solve the problem

[2019-07-31 11:50] Akashdesarda opened #332 "docker created from fairing uses python2 even base docker image has python 3 as default"
/kind bug

**What steps did you take and what happened:**
I am using Trainjob API to deploy and run it remotely on GKE cluster.
Following is the flow:
1. After running Trainjob API it is first creating docker (working correctly)
2. Then copying all the necessary dependencies and packaging it with docker (I am still not sure about this step)
3.Then pushing docker to specified registry (working corr

[2019-07-31 13:16] jinchihe commented on #328
@karthikv2k  Many thanks for pointing out! The `k8s_utils.get_resource_mutator`  idea is really great! I will update that following the function done once get change.

[2019-08-01 08:51] KikiCS commented on #227
I would like to know how this test goes. I can only find guides that need GCP to work.

[2019-08-01 09:00] jinchihe commented on #227
@KikiCS I tested fairing on prem cluster, and added some features and fix bugs for on-prem cluster. For the guide, we are planing for this, and will have doucment for the Fairing APIs.

[2019-08-01 09:34] KikiCS commented on #227
Thank you @jinchihe !

[2019-08-01 11:53] #328 closed

[2019-08-03 19:29] #199 closed

[2019-08-05 01:10] jinchihe opened #336 "Intergration tests failed"
/kind bug

**What steps did you take and what happened:**
Intergration tests failed in the PR #335 , and logs are as following:
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Fairing version: (use `python -c "import fairing; print(fairing.__version__)"`):
- Kubeflow version

[2019-08-05 01:12] jinchihe commented on #336
Guess that's caused by `gcr.io/kubeflow-ci/test-worker` is refreshed two days ago. Seems we need to upgrade tornado as the deprecated alias `tornado.concurrent.TracebackFuture` has been removed.

[2019-08-05 09:52] jinchihe commented on #326
I prefer to use the `sphinx` to generate the docs for Fairing APIs. I would like have a demo for the Fairing community to show my thoughts by the PR #338. Thanks.

[2019-08-05 22:49] #336 closed

[2019-08-06 03:21] jinchihe commented on #332
@Akashdesarda Pls see my suggestion in the https://github.com/kubeflow/fairing/pull/333 thanks.

[2019-08-06 04:02] jinchihe commented on #307
@ahmedelmahy That works fine for me, could you please check if the fairing is installed? Thanks.

[2019-08-06 09:02] shikha130vv commented on #283
can you please share full notebook code that you are executing. Is it same as one of the examples?

[2019-08-06 09:26] shikha130vv commented on #223
There is an rsynch based solution as per this article. https://medium.com/@scythargon/cache-for-python-pip-downloads-and-wheels-in-docker-67f24e7cd84e
What do you say?

[2019-08-06 09:28] shikha130vv commented on #80
Which particular example are you referring to?

[2019-08-06 09:31] shikha130vv commented on #90
Are you specifying dockerignore file in input files or somewhere else?

[2019-08-06 10:02] shikha130vv commented on #332
Ok so it is because the environment in which fairing code is running, python is pointing to python2. Yes, @jinchihe suggestion to make python point to python3 will solve this issue.

[2019-08-06 11:15] carlthome commented on #167
ETA on this? I'm using a lot of numerical computing librarires that are really just FFIs for C libraries. They tend to be iffy to `pip install`and requirements.txt doesn't suffice.

[2019-08-06 15:59] shikha130vv commented on #309
@lynochka have you been able to add secrets?

[2019-08-06 16:06] shikha130vv commented on #308
Have you tried giving credentials in secret for the private docker registry?

[2019-08-06 19:04] #324 closed

[2019-08-06 21:14] #323 closed

[2019-08-07 00:19] jinchihe commented on #309
@shikha130vv What's the user cases? is there a secret that other than GCP and AWS ones?  you need to point the secret name and mounting to pod? right? if use GCP and AWS ones, you can just use `pod_spec_mutators` for this.

[code]

[2019-08-07 22:56] Jeffwan opened #340 "RuntimeError: The Python version mismatches"
/kind bug

**What steps did you take and what happened:**
[code]

and see error message
[code]

I create a notebook locally by running `jupyter notebook` and my machine python version is 3.7.3. When it schedule job on kubernetes, it encounter this problem.
[code]

I enter `tensorflow/tensorflow:1.13.1-py3`  and notice python3 version is `3.5.2`. That's probably the reason.  I understand it's good

[2019-08-07 23:14] Jeffwan commented on #340
I can help on the patch if you think it's reasonable.  Based on the python compatible documentation.

### Compatibility Levels
- Compatible: Python version x.y is compatible with w.z if x == w and y >= z
- Potentially compatible: Python version x.y is potentially compatible to version w.z if x == w and y < z
- Incompatible: Python version x.y is incompatible with version w.z if x != w

1. We only

[2019-08-08 05:24] swiftdiaries commented on #326
We can use this to track the docs
/assign @brightfly
/assign @hamedhsn
/assign @jinchihe
/assign@swiftdiaries
/cc @karthikv2k

[2019-08-08 06:01] jinchihe commented on #326
To be avoid duplicating efforts, with all due respect, I suggest the assignment can be as following to finish the docStrings for functions/class. You can tell me or append to change if you are interested in other.

1. Owner: @brightfly
backends/
builders/
cloud/

2. Owner: @hamedhsn
config.py/
deployers/
frameworks/

3. Owner: @jinchihe
functions/
http_utils.py
kubernetes/
utils.py

4. Owner: @swi

[2019-08-08 09:31] jinchihe commented on #340
@Jeffwan That works as design. Pls see discussion in the https://github.com/kubeflow/fairing/issues/288 and https://github.com/kubeflow/fairing/pull/291. Thanks.

[2019-08-09 04:56] jinchihe opened #342 "kubeflow-fairing-presubmit integration tests always running timeout"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
kubeflow-fairing-presubmit integration tests always running timeout

**What did you expect to happen:**
kubeflow-fairing-presubmit integration  should be successfully.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[code]

[2019-08-09 05:03] jinchihe commented on #342
@karthikv2k @abhi-g I tried to find the root course, unlucky I did not get that, I guess that caused by CI/CD env problems, since there is some message `failed to create fsnotify watcher: too many open files`  sometimes, any suggestion for this? or could you please take a look? Thanks.

[2019-08-09 08:35] jinchihe commented on #342
Not sure if this is root couse, but seems the `fs.inotify.max_user_instances = 128`,  that's small, but we cannot update that in the docker container...

[code]

[2019-08-09 13:01] abhi-g commented on #342
Thanks Jin Chi for investigating. I'll try to get further help.

On Fri, Aug 9, 2019 at 1:35 AM Jin Chi He <notifications@github.com> wrote:

[2019-08-11 19:06] hamelsmu commented on #326
Hello @jinchihe did you mean to tag me above ?  Maybe you accidentally tagged the wrong person?  LGTM except the dates I likely need an additional week

[2019-08-11 23:02] jinchihe commented on #326
@hamelsmu Updated. Thanks for the reminder. Sure, that's depends on your working, just proposal date, not deadline :-)

[2019-08-14 04:40] karthikv2k opened #344 "test_tfjob_submission_without_gcs_access is causing timeout"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
test_tfjob_submission_without_gcs_access is causing timeout in the presubmit tests

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Fairing version: (use `python -c "impor

[2019-08-14 05:02] #342 closed

[2019-08-14 13:12] #298 closed

[2019-08-16 06:44] aflc opened #347 "fairing-builder failed if istio-injection=enabled on AWS EKS"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
* Trying example notebook
  * https://github.com/kubeflow/fairing/blob/master/examples/prediction/xgboost-high-level-apis.ipynb
* `train_job.submit()` fails with a following error:

[code]

**What did you expect to happen:**

fairing-builder pushes our ECR repo, and fairing-job starts su

[2019-08-16 06:58] aflc commented on #347
I tried on kubeflow notebook server with profile (which creates a namespace with `istio-injection=enabled` label)

[2019-08-16 20:57] jlewi opened #349 "cluster builder should use a job not a pod"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Cluster builder is currently creating a pod
https://github.com/kubeflow/fairing/blob/be8d42957077cb9844fcaed0f8cada8c74a982fc/fairing/builders/cluster/cluster.py#L72

I think it would be better to create a K8s Job.

i also don't think we need to explicitly delete the job after its don

[2019-08-21 09:23] jinchihe commented on #326
Hello @hamedhsn @swiftdiaries @@brightfly,
I recommend you use the [pyment](https://github.com/dadadel/pyment) to generate the DocString format and then just need to add description for function and agrs. I did like this in the PR #352 for my owned parts. Thanks.

[2019-08-21 23:20] hamelsmu commented on #326
@jinchihe I really apologize but I have to drop out of this effort temporarily.  I was supposed to be using fairing at work so this was a natural way for me to document the library while using it, but unfortunately, I have been assigned to something different.  However, I do plan on coming back and contributing hopefully in the near future.  Sorry about this 🙇

[2019-08-22 01:53] jinchihe commented on #326
@hamelsmu No problem. Plan couldn't catch up with change sometimes, haha. I will try to take your parts once get chance. Thanks.

[2019-08-22 08:40] jinchihe commented on #344
Rollbacked the changes in #343 since that's OK now, commented below to cases, need to have more investigagtion for below cases why that's timeout.
[code]
See details in #353

[2019-08-22 08:42] hamedhsn commented on #326
@jinchihe I ll take care of those part, as you tagged me originally ;)

[2019-08-22 08:48] jinchihe commented on #326
@hamedhsn Wow, Exciting! Welcome. Great thanks for your contribution in advance. :-)

[2019-08-22 09:41] hamedhsn commented on #326
No problem. PR: https://github.com/kubeflow/fairing/pull/354

[2019-08-22 11:52] Edwardsleo commented on #284
Myself facing the same issue ....help needed

[2019-08-26 09:16] #258 closed

[2019-08-27 01:25] jinchihe commented on #234
@jlewi Guess you want to @ me? :-) I will take this.
/assign @jinchihe

[2019-08-27 12:05] hegand opened #357 "Add support for S3 custom endpoint"
/kind feature

Currently fairing does not support custom S3 providers (like minio) with kaniko. There is a PR in kaniko https://github.com/GoogleContainerTools/kaniko/pull/698 that adds support for custom S3 endpoints.  It would be great if fairing will support this feature.

[2019-08-29 08:01] #347 closed

[2019-08-29 10:11] jinchihe commented on #234
hello @jlewi @animeshsingh

After thinking, there are two proposals:

## Option 1:  Radical way
1. Rename the project name to `kubeflow-sdk` or `kubeflowsdk` (or better name?).
2. The pacakage name will be `kubeflow` (in Pypi), user will install by `pip install kubeflow`
3. Make new folder named `kubeflow`. And move all current `fairing` files to the create `kubeflow` as subpackage, we also can sy

[2019-08-29 13:02] abhi-g commented on #234
I prefer the conservative way for now as we want to focus all resources on
1.0. given the amount of work involved in all of the major application
components.

Note that my suggestion is purely based on time and resource constraints
and not based on technical merit.

On Thu, Aug 29, 2019 at 3:12 AM Jin Chi He <notifications@github.com> wrote:

[2019-08-30 11:10] jinchihe commented on #234
Hello @abhi-g, Great thanks for your comments!

Discussed someones such as @gyliu513 and @hougangliu, we fully understand your concern about time and resource constraints, after careful consideration, we still suggest taking option 1 , there is a successful case in [openstack](https://github.com/openstack/openstacksdk), we can do a similar SDK. The option 2 is useless in fact.

For you concern, I

[2019-08-31 14:05] jinchihe opened #360 "Suggest remove containerregistry and install containerregistry-ccwienk"
/kind feature

**Describe the solution you'd like**
There is a folder `containerregistry` under fairing, and the package is installed by fairing (`pip install fairing`), in fact, the `containerregistry` is from [google/containerregistry](https://github.com/google/containerregistry).

The `containerregistry` can be installed by `pip install containerregistry-ccwienk`, we should choose install the p

[2019-08-31 14:05] jinchihe commented on #360
/assign @jinchihe

[2019-09-01 23:37] jinchihe opened #361 "The case test_storage_account_creation failed in presummit integration"
/kind bug

**What steps did you take and what happened:**
The case `test_storage_account_creation` failed in presummit integration
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Fairing version: (use `python -c "import fairing; print(fairing.__version__)"`):
- Kubeflow vers

[2019-09-01 23:39] jinchihe commented on #361
@vjrantal Seems need to be update to below?
[code]

[2019-09-02 06:07] vjrantal commented on #361
@jinchihe It is true that the Azure integration tests do not currently pass in the Google CI environment, but the workaround was to ignore them there (see [this line](https://github.com/kubeflow/fairing/blob/cd8b46020c7f7a8bef2aa71c7503fb2ab182a846/cloudbuild.yaml#L22)).

If they currently cause problems or fail in some CI environment, my recommendation is to remove the folder `tests/integration/a

[2019-09-02 06:56] jinchihe commented on #361
@vjrantal Oh, got that, thanks for points out. I think that's better to have a plan to enable that, maybe just enable that by unit test, such as `unittest.mock`? otherwise, we may break the feature but we do not know that.

[2019-09-04 19:12] dawu76 commented on #329
I believe I'm also running into this issue on the same `xgboost-high-level-apis.ipynb` notebook.

My environment is similar to @Akashdesarda -
* fairing: version 0.5.3 - I have tried using different versions of `fairing` installed via `pip3 install fairing` as well as `pip3 install git+git://github.com/kubeflow/fairing.git@master`
* kubeflow: version 0.6 - installed on GKE with basic authenticatio

[2019-09-04 23:16] dawu76 commented on #309
I also had the same question, as I've been unable to run the 'train XGBoost on Kubeflow' cells of multiple example notebooks in this repo. I keep encountering this error:

[code]

For example, that's the error I get if I run the following cell in the [examples/prediction/xgboost-gkeop.ipynb](https://github.com/kubeflow/fairing/blob/master/examples/prediction/xgboost-gkeop.ipynb) notebook. Is this

[2019-09-05 04:22] jlewi commented on #234
Do we need to need create a single unified repository in order to get to the world where users can do

[code]

Can we use [namespace packaging](https://packaging.python.org/guides/packaging-namespace-packageshttps://packaging.python.org/guides/packaging-namespace-packages/) to allow every project/repo/working group etc.. to define its own subpackages within the kubeflow python namespace?

So if ev

[2019-09-05 10:15] jinchihe commented on #234
@jlewi Really thanks for the great discussion. I got your concerns. I'm changing my mind...

I think that's not a problem for the resource to finish that, if cannot I can introduce more resource from IBM to finish that.

I think we can add new sub directory for new repo.

Personally I think this is big challenge, in fact I'm worried about that too. Same repos owner may have different viewpoint for

[2019-09-06 03:14] jlewi commented on #234
How much more work is using using namespace packaging then Native namespace packaging?

I think its potentially reasonable to say that our python client library or specific python client libraries e.g. fairing might be only Python 3. But that seems like a decision that might be worth some broader discussion. So perhaps we should just use namespace packages to avoid blocking progress on SDK refacto

[2019-09-07 06:33] jinchihe opened #366 "Need to enhance notebook_util.py to fit papermill"
/kind bug

**What steps did you take and what happened:**

While I execute the notebook using `papermill`, the below problem happened.

[code]
In fact, the connection file name is `/tmp/tmpcn0jj17i.json`, the ` re.search('kernel-(.*).json',` cannot match that.

[2019-09-07 07:39] jinchihe opened #367 "Traceback while executing notebook using `papermill `"
/kind bug

**What steps did you take and what happened:**
Traceback while executing notebook using `papermill `

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Fairing version: (use `python -c "import fairing; print(fairing.__version__)"`):
- Kubeflow version: (version numb

[2019-09-08 00:52] jinchihe commented on #367
Guess that need running docker in docker, need docker service started in the docker container?

[2019-09-09 15:24] jinchihe commented on #234
The effort should be small. Yes, if we want to also support Python 2, we can use [pkgutil-style namespace packages](https://packaging.python.org/guides/packaging-namespace-packages/#pkgutil-style-namespace-packages) as the `kubeflow/testing` used.

Will update that PR tomorrow. Thanks.

[2019-09-09 23:24] gyliu513 commented on #234
@jlewi @jinchihe I prefer that we take Python 2 as low priority, as Python 2 will come to an end in 2020, people may already start the migration process.

Please checkout https://www.codetd.com/en/article/7108696 and https://gestaltit.com/favorites/rich/saying-goodbye-to-python-2-7/ for detail.

[2019-09-11 03:50] jlewi commented on #234
@gyliu513 I don't think we need to take on extra work to support python2; but I think we want to make 1 change at a time.

The kubeflow python packages are currently using namespace packaging. So if we switch to native namespace packaging then we have to make changes across all our repositories. That could slow down doing the package renaming. I think getting the package renaming done sooner is mo

[2019-09-11 05:21] jinchihe commented on #367
Work around by submit the workflow into another k8s cluster.

[2019-09-11 05:21] #367 closed

[2019-09-11 08:34] jinchihe commented on #234
Already updated the PR, used [pkgutil-style namespace packages](https://packaging.python.org/guides/packaging-namespace-packages/#pkgutil-style-namespace-packages) which supports Python 2.

[2019-09-11 09:31] jinchihe commented on #349
/assign
Will address that later. Thanks.

[2019-09-11 11:50] jdumm opened #369 "requirements.txt has Tornado version conflict with Fairing 0.5.3"
/kind bug

**What steps did you take and what happened:**

I did a fresh install of Kubeflow and then Fairing on a GCP hosted notebook server with a default Docker image.  I tried running the example notebook `xgboost-high-level-apis.ipynb`.  During the `!pip install -r requirements.txt`, I get two conflicts, and the tornado conflict leads to a runtime error later:

For more specifics, I was follo

[2019-09-11 12:10] vjrantal commented on #295
From my perspective, a release would be a good idea because currently the fairing version in the default notebook images is relatively old so not all the samples work out of box.

[2019-09-12 02:14] #234 closed

[2019-09-12 03:53] elviraux commented on #227
closing

[2019-09-12 03:53] #227 closed

[2019-09-13 13:27] jinchihe opened #370 "Release kubeflow-fairing package"
/kind feature

**Describe the solution you'd like**
Since the pacakge name has been rename to kubeflow-fairing in the PR #359, use can install the pacakge 0.0.1 by
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-13 13:29] jinchihe commented on #370
@jlewi @abhi-g what do you think about the `kubeflow-fairing` package version? since the `fairing` 0.5.3 has been released in Pypi, is that release as  `kubeflow-fairing 0.6` or  `kubeflow-fairing 0.1`? Thanks.

[2019-09-13 17:12] Jeffwan opened #371 "Can not deploy serving endpoint on AWS"
/kind bug

Try to use `KubeflowAWSBackend` to deploy an endpoint and meet issues.

[code]

[code]

**What did you expect to happen:**
serving endpoints should be deployed successfully.

**Environment:**

- Fairing version: (use `python -c "import kubeflow.fairing; print(kubeflow.fairing.__version__)"`): 0.5.3
- Kubeflow version: (version number can be found at the bottom left corner of the Kubeflo

[2019-09-13 21:52] Jeffwan opened #373 "Prediction endpoint url is wrong when using ClusterIP"
/kind bug

[code]

We get endpoint results.
[code]

if we run following command, it will hang there.
[code]

 The problem is right url should be
`http://fairing-service-srwh2.kubeflow-anonymous.svc.cluster.local:5000/predict`

If we change to this config, prediction works well.
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-13 21:53] Jeffwan commented on #373
I will file a PR to fix this issue

[2019-09-13 22:23] Jeffwan opened #375 "Example of AWS Elastic Container Registry and KubeflowAWSBackend usage"
/kind enhancement

**Describe the solution you'd like**
As title.

[2019-09-14 03:39] Jeffwan commented on #340
Hi Jinchi, sorry for taking long to come back.
I am still a little bit confused, checking design, description in the issue and pr, seems we want to compare major and minor? But in the code implementation, it does compare full version.

In your PR, "In the patch we just compare the Python major and minor version, and igore micro version, for examples, 3.6.5 will mismatch with 3.5.2, but match with

[2019-09-15 02:42] jlewi commented on #370
I would vote to go with 0.6 or 0.7; i.e. not reset the version back to 0.1 just because the package name changed.

I would also try to keep the version numbers in sync with kubeflow as long as we can. If that means we skip a major release (e.g. there is no 0.6) I think that's ok.

[2019-09-15 06:01] jinchihe commented on #370
@jlewi OK, I'm going to release `kubeflow-fairing 0.6` version, and relase 0.6.x for P1 or S1 issues. And will release 0.7 version with kubeflow 0.7 in sync. Thanks.

/assign @jinchihe
/cc @abhi-g

[2019-09-15 06:08] jinchihe commented on #340
@Jeffwan In my initial thought, we should just compare major and minor verions. but the PR #291 is updated as @karthikv2k comments that we should also conver micro version, you can read details by going though the #291 .

Not sure has problem if the micro version mismatch, yes, we can reconsider that.

[2019-09-16 06:39] jinchihe commented on #370
Hello @jlewi @abhi-g,

Kubeflow-fairing 0.6.0 has been released: https://pypi.org/project/kubeflow-fairing/
[code]

[2019-09-16 07:53] jinchihe commented on #360
I'm hesitating since the containerregistry-ccwienk is uploaded by ccwienk personally, instead of offical release.

[2019-09-16 07:58] ycheng commented on #369
prediction need seldon_core =>
seldon_core-0.4.0.dist-info/METADATA:Requires-Dist: jaeger-client (==3.13.0) =>
jaeger-client-3.13.0/setup.py:'tornado>=4.3,<5'

jaeger-client also use tchannel that also need tornado < 5
jaeger-client require opentracing-instrumentation and it also need tornado<6

while fairing need tornado>=6.0.1

it feels like lots of work. wander how someone can run it in the fir

[2019-09-16 09:18] jdumm commented on #369
I'm working on a Kubeflow proof of concept -- is there any way forward or around this?  Maybe this example notebook works with an older version of Fairing?

[2019-09-16 12:21] nrchakradhar commented on #349
@jinchihe Can I try to make the changes for this. This will be my first PR though so might take some time. Would that be fine?

[2019-09-16 13:24] abhi-g commented on #370
Thanks @jinchi

On Sun, Sep 15, 2019 at 11:39 PM Jin Chi He <notifications@github.com>
wrote:

[2019-09-16 13:28] #370 closed

[2019-09-17 00:50] jinchihe commented on #349
@nrchakradhar Sure. Thanks for picking up. I'm waiting for review your changes.

/assign @nrchakradhar

[2019-09-18 01:09] #371 closed

[2019-09-20 00:37] #349 closed

[2019-09-23 08:44] jinchihe commented on #369
@jdumm I think that's no impact, just go ahead for trying kubeflow fairing please. :-)

[2019-09-24 07:45] benoitdr opened #380 "Fail to pull image from local registry"
/kind bug

**What steps did you take and what happened:**
Installing and configurig kubeflow-fairing following the procedure on kubeflow website.
Running the example from examples/simple/main.py, setting DOCKER_REGISTRY to localhost:32000

A fairing-job image is correctly pushed to the local registry, the job is started but the pod cannot pull the image from the local registry

[code]

[code]

**W

[2019-09-24 09:13] benoitdr opened #381 "Example notebook not working on local cluster"
/kind bug

**What steps did you take and what happened:**
Installing and configuring kubeflow and kubeflow fairing according to procedure on kubeflow website, using ubuntu 18.04 and microk8s/

Running fairing/examples/notebook/fairing-xgboost.ipynb on local kubeflow 0.6.2 cluster

First, "from kubeflow import fairing" returns "ModuleNotFoundError: No module named 'kubeflow'"
Replacing by "import f

[2019-09-24 09:36] benoitdr commented on #248
@karthikv2k ,

This is not working on a fresh kubeflow 0.6.2 local cluster. It would require sudo privilege for the jovyan user in the conainter and this is not granted on the default image (gcr.io/kubeflow-images-public/tensorflow-1.13.1-notebook-cpu:v0.5.0)

creating/editing .docker/config.json is not possible since the .docker directory belongs to root
drwx------ 2 root   root  4096 Apr  6 07:1

[2019-09-24 14:26] benoitdr opened #382 "Fail to pull image from hub.docker.com"
/kind bug

**What steps did you take and what happened:**
Similar to https://github.com/kubeflow/fairing/issues/380 but using hub.docker.com instead of local registry

Installing and configurig kubeflow-fairing following the procedure on kubeflow website.
Running the example from examples/simple/main.py, setting DOCKER_REGISTRY to index.docker.io/benoitdr

A fairing-job image is correctly pushed t

[2019-09-24 23:28] #340 closed

[2019-09-24 23:45] #373 closed

[2019-09-25 06:51] Jeffwan commented on #375
/close

[2019-09-25 06:51] #375 closed

[2019-09-25 07:23] jinchihe commented on #326
@xauthulei @QxiaoQ  @zoyun @wzhanw

Thanks for your docString contribution in advance!

1. Please install [pyment](https://github.com/dadadel/pyment) and then use the tool to generate the docstring framework for your parts,
2. And then add docStrings for each function and class manually, please see the PR https://github.com/kubeflow/fairing/pull/346 for examples.

To be avoid duplicating efforts,

[2019-09-25 07:37] xauthulei commented on #326
@jinchihe , I will take action later, Thanks

[2019-09-25 07:53] jinchihe commented on #380
@benoitdr personally I think the problem is not related with kubeflow-faring, but kubenertes, could you please try the create the job manually with assioated with the image in `localhost:32000`, see if can be started? Thanks.

[2019-09-25 07:57] jinchihe commented on #381
@benoitdr The fairing is renamed recently to kubeflow-fairng, please install the kubeflow-fairing using pip, and try again. Seems the fairing in the image is not updated, the new image should include kubeflow-fairing.

For 2nd problem, seems you need to configure the Docker regestry to avoid that if you do not want to run on GCP.

[2019-09-25 07:59] jinchihe commented on #382
See what's happend if you pulling the image by docker.
[code]

[2019-09-25 08:22] zoyun commented on #326
@jinchihe Me too.

[2019-09-25 08:50] benoitdr commented on #380
How can I create it manually ? Is there a way to use kubeflow-fairing to generete a yaml file for it ?

[2019-09-25 09:01] benoitdr commented on #381
@jinchihe thanks for your help. Unfortunately I cannot configure docker registry within the notebook container. I think it's a privilege problem. See my comment in https://github.com/kubeflow/fairing/issues/248#issuecomment-534477959

[2019-09-25 09:07] jinchihe commented on #380
I mean just create a sample job to test the your local docker hub :-)

[2019-09-25 09:13] benoitdr commented on #380
yes that's working. Following the procedure from https://microk8s.io/docs/working, I can deploy an nginx image from the local registry.

[2019-09-25 09:18] jinchihe commented on #380
@benoitdr that's strange... I think that's same with nginx job here, seems nothing with kubeflow-fairing here.

[2019-09-26 06:48] benoitdr commented on #382
@jinchihe , pulling the image by docker is working fine
[code]

[2019-09-26 06:53] benoitdr commented on #380
@jinchihe I'm not sure. I can pull images from a local registry (and from hub.docker.com) but for some reason kubeflow cannot do it. It might be a common issue with https://github.com/kubeflow/fairing/issues/382

[2019-09-26 06:56] jinchihe commented on #382
I will try `examples/simple/main.py` and update later, thanks.

[2019-09-26 07:19] benoitdr commented on #381
Indeed uninstalling fairing and installing kubeflow-fairing (using pip) inside the notebook container solved the first issue. The images should be updated otherwise the hard statement in the doc is not valid

Still I cannot authenticate ('docker login') from the notebook, since sudo is not granted in the image proposed by kubeflow.
I would need to pass GRANT_SUDO=yes argument to the container but

[2019-09-26 07:54] jinchihe commented on #382
Hello @benoitdr The docker hub works fine in my env, please see below:
[code]

I updated the docker hub to `DOCKER_REGISTRY = 'index.docker.io/jinchi'`
[code]

Started kubeflow fairing process, and finished normally, you can see the hostname is printed `Hostname:  fairing-job-vxm67-rs48h`
[code]

So I think that's yout env problem, please have deeper check, thanks!

[2019-09-26 16:10] benoitdr commented on #382
Seems to be related to microk8s indeed.
FYI, microk8s uses its own containerd while I also had docker on my machine.
That's why pulling the images using docker pull works while pulling from k8s does not work.
Closing here and following up at https://github.com/ubuntu/microk8s/issues/681
Thanks for your support.

[2019-09-26 16:10] #382 closed

[2019-09-29 21:54] jlewi opened #383 "Use absolute python imports"
/kind feature

It looks like some of the code is using relative imports; e.g.
https://github.com/kubeflow/fairing/blob/master/kubeflow/fairing/builders/cluster/cluster.py#L6

We should probably clean that up and use absolute imports everywhere. In my experience using relative imports is brittle.

[2019-10-03 17:47] nrchakradhar commented on #383
I will give it a try this week.

[2019-10-07 06:44] gabrielwen opened #384 "Resource leak for deployed jobs"
/kind bug

**What steps did you take and what happened:**
After the user-container finishes, istio-proxy is still up and the deployment (Job) still takes resources.

**What did you expect to happen:**
The whole job should be torn down after usr-container finishes.

**Environment:**

- Fairing version: HEAD
- Kubeflow version: 0.6.2

[2019-10-07 17:37] gabrielwen opened #385 "ISTIO sidecar adds difficulty when talking to resources outside the cluster"
Currently all jobs created by Fairing has an ISTIO sidecar and default behavior is to block all outgoing traffic.  During the hackathon we disabled it by adding an annotation.  Do we want to promote this approach?
- What is the side effect of disabling ISTIO sidecar?
- Should we make ISTIO sidecar an optional deployment instead of making it default?

[2019-10-08 17:07] nrchakradhar commented on #385
@gabrielwen Can you please provide some more information on how istio-side-car is auto injected by fairing? My understanding for fairing is limited, but I thought side car injection was based on how Istio was installed and for what all namespaces side car injection should be enabled by default. Please let me know if my understanding is correct or not?

[2019-10-08 18:57] gabrielwen commented on #385
hmm, I agree but I just found out istio sidecar is disabled by default: https://github.com/kubeflow/fairing/pull/348

need to find out why my deployments still had it.

[2019-10-09 01:43] jinchihe commented on #383
Hi @jlewi @nrchakradhar some relative imports are introduced while renaming kubeflow.fairing, since I think the absolute imports would make the statement too long such as:

 `from kubeflow.fairing.builders.cluster.context_source import ContextSourceInterface`

And one clear advantage of relative imports is that they are quite succinct. Depending on the current location, they can turn the ridiculou

[2019-10-09 02:17] jinchihe opened #387 "Update in Fairing since the KFServing is renamed to InferenceService"
/kind feature

**Describe the solution you'd like**
Update in Fairing since the KFServing is renamed to InferenceService https://github.com/kubeflow/kfserving/pull/421

/assign @jinchihe
/cc @ellis-bigelow @animeshsingh

[2019-10-09 07:45] nrchakradhar commented on #383
@jinchihe My understanding is that there is no clear technical winner for relative or absolute imports, its a matter of choice. Usage of few classes like "Job", "KubernetesManager" were a bit confusing to start with but is not that big a concern though.

[2019-10-10 03:44] jlewi commented on #383
I've been burned by relative imports in the past.

PEP style guide recommends absolute imports
https://www.python.org/dev/peps/pep-0008/

Stylistically I also favor importing an entire module and not individual classes

[2019-10-11 03:02] xauthulei commented on #326
My parts are done:

This python file is too simple without complex logic, we could ignore that.

For this part, I have committed the PR and associated with this issue, you could review them when you are free. Thanks.

[2019-10-11 03:03] xauthulei commented on #326
@jinchihe

[2019-10-11 06:52] jinchihe commented on #383
@jlewi OK, so let's follow PEP style. Thanks.

[2019-10-11 06:59] jinchihe commented on #326
@xauthulei Really great! Thanks!

[2019-10-11 08:43] #383 closed

[2019-10-14 09:38] jinchihe commented on #326
@wzhanw Any plan to finish this?  thanks a lot!

[2019-10-14 20:32] abhi-g opened #394 "Cannot determine Builder on GKE in Kubeflow 0.7 RC"
/kind bug

**What steps did you take and what happened:**
Deployed Kubeflow 0.7 RC, running fairing/examples/prediction/xgboost-high-level-apis.ipynb, Failure in launching the training job on Kubeflow cluster with the error:
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-14-ed64d

[2019-10-15 18:02] #394 closed

[2019-10-18 02:14] xauthulei commented on #326
For this changes, we need to enable the `pylint`  when using the **VScode** to edit. so that we could avoid the`kubeflow-fairing-presubmit ` job failed.

[2019-10-21 20:34] kunmingg opened #403 "ClusterBuilder: use account default-editor when available"
/kind feature

**Describe the solution you'd like**
[ClusterBuilder](https://github.com/kubeflow/fairing/blob/51e56fb135b6d8c9ad4c5e48637bfbcabb2ae173/kubeflow/fairing/builders/cluster/cluster.py) should use service account `default-editor` when available.
Starting v0.7 default GCP auth method will be workload identity through `default-editor`.

**Anything else you would like to add:**
[Miscellane

[2019-10-21 22:19] jlewi commented on #403
@abhi-g or @jinchihe could one of you take a look at this?

[2019-10-21 22:28] kunmingg commented on #403
Seems fixed on master head: https://github.com/kubeflow/fairing/pull/395

[2019-10-21 22:28] #403 closed

[2019-10-21 22:28] kunmingg commented on #403
Updated fairing version here: https://github.com/kubeflow/examples/pull/662

[2019-10-25 01:31] jlewi opened #404 "ClusterBuilder doesn't allow setting custom Dockerfile - Needed for xgboost_synthetic"
/kind bug

**What steps did you take and what happened:**
ClusterBuilder doesn't allow setting a docker file. Instead it always writes a given template.

https://github.com/kubeflow/fairing/blob/58c67efacc5bacbbdad3f91607cccfce4a563fd9/kubeflow/fairing/builders/cluster/cluster.py#L47

https://github.com/kubeflow/fairing/blob/7c93e888c3fc98bdf5fb0140e90f6407ce7a807b/kubeflow/fairing/builders/docker

[2019-10-25 01:44] jlewi commented on #404
I think we can work around this by using an older docker image for the base image in xgboost_synthetic. So I don't think we need to block 0.7.0.

But we should try to update it soon.

@jinchihe  any chance you could pick this up? I think its an easy fix. I think we just need to skip writing the dockerfile if one is supplied to the clusterbuilder.

[2019-10-25 01:47] jinchihe commented on #404
@jlewi Got that.
/assign

[2019-10-25 20:35] kierenj commented on #196
I've been trying to see if I can get something cool going with fairing for the past couple of days. Unfortunately I just ran into this one. In my case, it's based on the XGBoost sample notebook code - the high level APIs one you spoke about (https://github.com/kubeflow/fairing/blob/master/examples/prediction/xgboost-high-level-apis.ipynb):

[code]

I understand Kubeflow and fairing are super early

[2019-10-30 17:38] #404 closed

[2019-10-31 08:05] kierenj opened #408 "predict() got an unexpected keyword argument 'meta' in seldon in Serving deployed via AppendBuilder directly"
/kind bug

**What steps did you take and what happened:**
Relevant code:
[code]

requirements.txt:

[code]

Then, I POST as a test:

[code]

I get a 500 error, and the logs in stackdriver:

[code]

**What did you expect to happen:**
A result to be returned.

**Anything else you would like to add:**
I'm sorry, I'm really struggling. I'm just trying to get a simple example of Fairing together and ru

[2019-10-31 13:01] jinchihe opened #409 "CI tests failed due to google.auth"
The CI cases `test_job_submission_gkebackend_gcs_access_with_kubeflow_namespace` and `test_job_submission_with_gcs_access` are failed due to below issue
[code]

[2019-10-31 13:02] jinchihe commented on #409
/cc @abhi-g

[2019-10-31 16:36] abhi-g commented on #409
Thanks @jinchihe for filing this. I have noticed this happening and would like to get to the bottom of these transient errors that cause the tests to fail repeatedly.

[2019-11-01 13:47] #326 closed

[2019-11-01 20:15] #409 closed

[2019-11-01 20:15] anupash147 commented on #309
fairing code assumes docker registry to be in gcp or aws or azure but what is the solution if the registry is a private registry?

[2019-11-03 09:20] kierenj commented on #408
I've skipped on Fairing and searched for other examples, and found `build_python_component` in the simple notebook example. I randomly googled and found some docs for it, which say it's deprecated, and to use `build_image_from_working_dir` and `func_to_container_op`.

The docs had me confused for a while (the default image is different than the one stated), but also the dependencies aren't capture

[2019-11-04 05:59] jinchihe opened #411 "Release kubeflow-faring 0.7 version"
/kind feature

**Describe the solution you'd like**
Release kubeflow-faring 0.7 version

[2019-11-04 09:19] jinchihe opened #413 "Hosting kubeflow-fairing document in the readthedocs"
/kind feature

**Describe the solution you'd like**
Hosting kubeflow-fairing document in the https://readthedocs.org, just like kubeflow pipeline done https://kubeflow-pipelines.readthedocs.io/en/latest/index.html

[2019-11-04 09:19] jinchihe commented on #413
/assign @jinchihe
/cc @abhi-g @jlewi

[2019-11-04 17:49] #411 closed

[2019-11-04 17:55] abhi-g commented on #413
/cc @sarahmaddox As we have had some discussions about hosting reference docs.

[2019-11-04 20:21] willturner-gs commented on #283
I'm seeing the same problem. The notebook is: https://github.com/kubeflow/fairing/blob/master/examples/prediction/xgboost-train-and-deploy-in-gcp-from-local-notebook.ipynb

The `ames_dataset/train.csv` file is not available in the training image, so the remote training step fails. It's unclear to me how to provide this file to the training container.

[2019-11-04 21:14] sarahmaddox commented on #413
Pipelines has hosted the Python SDK docs on Read the Docs. The API reference for Pipelines is on kubeflow.org.

You should create a new Reference section in the Fairing section of the docs:
https://www.kubeflow.org/docs/fairing/reference/

To do that, follow the pattern of the "Reference" section in the Pipelines section of the docs:
https://www.kubeflow.org/docs/pipelines/reference/

In the new s

[2019-11-05 06:21] jinchihe commented on #413
OK, Thanks @sarahmaddox @joeliedtke

[2019-11-08 09:38] #413 closed

[2019-11-10 08:07] jinchihe commented on #387
Has been finished in #407
/close

[2019-11-10 08:08] #387 closed

[2019-11-10 22:03] Eliasecchi opened #417 "Use Fairing in KF-Pipelines"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Possibility to use tools like Distributed LightGBM implemented in Fairing in KF-Pipelines

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
It would be really cool if we can use the functionalities of Fairing as container in th

[2019-11-11 22:17] abhi-g commented on #385
#399 resolves some other places where istio sidecar was disabled for example for job deployers. Can you please verify if your issue is resolved @gabrielwen

[2019-11-11 22:19] abhi-g commented on #295
#412 released 0.7.0 of fairing. Along with that we have all the code and tests and test cluster updated.

[2019-11-11 22:19] #295 closed

[2019-11-11 22:21] #304 closed

[2019-11-13 07:57] xauthulei commented on #366
@jinchihe ， I want to have a try on this issue,  Could you share me more about  your env? how could I reproduce your case ?  or what 's the notes here ? Thanks

[2019-11-13 08:04] jinchihe commented on #366
wow! That's great, @xauthulei

I reproduced the issue while running the below notebook using papermill.
https://github.com/kubeflow/examples/blob/master/xgboost_synthetic/build-train-deploy.ipynb

[2019-11-13 17:53] abhi-g opened #418 "Allow private cluster IP to be incorporated into the prediction endpoint URL"
/kind bug

**What steps did you take and what happened:**
When running through the fairing backend, after a model is trained. I tried to deploy the model by creating a prediction service through fairing. If the K8s cluster is configured to not have any Public IP, then the deployment service when it comes up reports the Prediction endpoint as:
 http://None:5000/predict

**What did you expect to hap

[2019-11-14 19:23] abhi-g commented on #418
already possible. When creating PredictionEndpoint service_type parameter should be specified as 'ClusterIP'

[2019-11-14 19:23] #418 closed

[2019-11-21 06:49] #330 closed

[2019-11-21 07:24] xauthulei commented on #366
@jinchihe , In our common practice, when we run `ConvertNotebookPreprocessorWithFire` function without defining the `notebook_file` value,  but we could get its value by its current `kernal` ID (from its connection file name)compared with running jupyter server API to search the notebook file path.  However, `papermill`  is differnet and it doesn't start such notebook sever(even if we could get th

[2019-11-21 08:08] jinchihe commented on #366
I think we can Specify the `notebook_file` in `ConvertNotebookPreprocessorWithFire` to work around this now :-)

[2019-11-21 08:23] jinchihe opened #421 "No module named 'kubernetes.client.api' in CI tests"
Kubeflow fairing CI failed due to
[code]

[2019-11-21 08:35] jinchihe commented on #421
This is caused by kubernetes python Client issue: https://github.com/kubernetes-client/python/issues/1008

[2019-11-21 19:42] gabrielwen commented on #385
/close

[2019-11-21 19:42] #385 closed

[2019-11-21 21:39] #421 closed

[2019-11-22 02:03] xauthulei commented on #22
@wbuchwalter ,  where is your mentioned example in our current repository,  now it have been removed and changed to [notebook](https://github.com/kubeflow/fairing/tree/master/examples/notebook), you could try the new one.  Thanks

[2019-11-22 05:21] xauthulei commented on #315
@shikha130vv , I have removed that conveys messages. Thanks.

[2019-11-22 05:37] xauthulei commented on #315
/close

[2019-11-22 05:37] #315 closed

[2019-11-22 05:40] jinchihe commented on #315
@shikha130vv The issue should be addressed already, would you mind close this? thanks.

[2019-11-22 07:19] jinchihe opened #425 "CI cases test_lightgbm failed sometimes"
[code]

[2019-11-25 08:57] xauthulei commented on #248
@benoitdr, I also met this issue, in my work rounds, I build the tensorflow notebook images based on the [Dockerfile](https://github.com/kubeflow/kubeflow/blob/master/components/tensorflow-notebook-image/Dockerfile), then  create a new Jupyter using  our self built `Custom Image` with  docker installed or configured. Thanks

[2019-11-25 09:14] xauthulei commented on #380
@benoitdr , In my mind, maybe in your k8s cluster you have used a default docker registry `Registry: https://index.docker.io/v1/`. if you want to pull the image in your pod  from your private repository, you need to to login with it firstly, or change your default ones. Thanks.

[2019-11-25 09:19] benoitdr commented on #380
It's not a login issue. I think it's related to microk8s. See https://github.com/ubuntu/microk8s/issues/681

[2019-11-25 21:56] jlewi opened #426 "Update kaniko image"
/kind feature

The kaniko image is quite old
https://github.com/kubeflow/fairing/blob/master/kubeflow/fairing/constants/constants.py#L58

Its currently 0.7.0 but it looks like Kaniko is now on 0.14.0

I ran into issues with 0.7.0 when trying to run the USER command in Dockerfiles with 0.7.0. Updating to 0.14.0 fixed this.

This appears to be a known issue in earlier versions of Kaniko
 https://git

[2019-11-26 07:26] jinchihe commented on #426
/assign @fenglixa

Could you please help to apply the patch for this? Thanks.

[2019-11-26 09:01] #426 closed

[2019-11-27 09:49] fenglixa commented on #369
jaeger-client removed Tornado upper boundary in master branch, issue will be addressed with jaeger-client next release.
[jaegertracing/jaeger-client-python/pull/262](https://github.com/jaegertracing/jaeger-client-python/pull/262)

[2019-11-28 01:20] jinchihe opened #428 "Make new high level API using KFServing"
/kind feature

**Describe the solution you'd like**
Make the high level API for deploy service using kfserving. For now, there are two high Level APIs,`TrainJob` and `PredictionEndpoint` , the `PredictionEndpoint`  is using deployer `Serving`. I think we should create new high level API which calls deployer `KFServing`. That's easy for deploy inference service.

**Anything else you would like to a

[2019-11-28 01:21] jinchihe commented on #428
/cc @xauthulei

[2019-11-28 01:30] xauthulei commented on #428
@jinchihe , I will working on this, Thanks

[2019-11-28 03:20] jinchihe commented on #428
@xauthulei Exciting! Thanks!

[2019-11-28 05:08] xauthulei commented on #428
/assign @xauthulei

[2019-12-05 03:20] fenglixa opened #430 "Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Following the steps in https://github.com/kubeflow/fairing/tree/master/examples/prediction
Error appeard during import Imputer

'0.22'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'Imputer' from 'sklearn.preprocessing' (/Users/

[2019-12-05 16:17] dylanpiergies commented on #196
I've hit this as well, deploying my own model:

[code]

[2019-12-06 08:44] #430 closed

[2019-12-06 09:51] saurabh24292 opened #432 "Allow static IP address to be assigned to prediction endpoint so that it can have a fqdn"
/kind feature

**Describe the solution you'd like**
As of now, if I use the clusterIP service and call PredictionEndpoint.create, I get a url. Now if I want to deploy a new version of my model and call the PredictionEndpoint again after deleting the older endpoint, the new endpoint url is different from the previous endpoint. So I can not have a static address which I can attach with a fqdn and se

[2019-12-06 10:56] fenglixa commented on #283
Reproduced this issue:
[code]
Will provide PR soon.

BR
-Feng

[2019-12-06 10:57] fenglixa commented on #283
Reproduced this issue:
[code]
Will provide PR soon.

BR
-Feng

[2019-12-12 09:20] #283 closed

[2019-12-18 12:42] chrishmorris commented on #102
fairing 0.5.3 has requirement urllib3==1.24.2, which is unpleasantly exact.

[2019-12-18 14:22] mojokb commented on #357
If minio-context exists as a context builder, it is likely to replace the S3 custom endpoint. I will upload my class as a pull request.

[2019-12-19 01:21] xauthulei commented on #432
@saurabh24292 , Could you use "LoadBalancer" instead of "clusterIP" by setting "service_type",  You will get the service external endpoint URL as `http://ip_or_hostname:5000/predict`. I have used it for my local minikube cluster, it the hostname will be the node of the cluster. Wish this could help  you.

[2019-12-26 08:19] jinchihe opened #434 "Using kubeflow-tfjob to deploy TFJob"
/kind feature

**Describe the solution you'd like**
The `kubeflow-tfjob` SDK has been implemented and published: https://pypi.org/project/kubeflow-tfjob/

We need to enhance `kubeflow-fairing` to use kubeflow-tfjob to deploy TFJob.

From @jlewi comments in Email:

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-12-26 08:19] jinchihe commented on #434
/assign

[2019-12-31 06:50] jinchihe opened #437 "Connection broken while following logs after deploying few minutes."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

Connection broken while following logs after deploying few minutes.

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Fairing version: (use `python -c "import kube

[2019-12-31 06:51] jinchihe commented on #437
Seems that's caused by the connection breaken of kubernetes API, that's better to retry if the connect timeout.

/assign

[2020-01-02 16:07] #437 closed

[2020-01-03 02:36] jinchihe commented on #425
@abhi-g Any idea for the problem? Thanks.

[2020-01-03 03:35] abhi-g commented on #425
I'll take a look.at this.

On Thu, Jan 2, 2020 at 6:36 PM Jin Chi He <notifications@github.com> wrote:

[2020-01-03 04:41] #434 closed

[2020-01-06 20:53] jtfogarty commented on #44
/kind feature

[2020-01-06 21:42] jtfogarty commented on #200
/kind feature

[2020-01-06 21:53] jtfogarty commented on #167
/area jupyter
/kind feature
/priority p2

[2020-01-08 09:33] jinchihe opened #440 "Release Kubeflow-Fairing 0.7.1"
/kind feature

**Describe the solution you'd like**
Release Kubeflow-Fairing 0.7.1

since there some new features such as supporting deploy PyTorchJob and new way TFJob deployment, etc.. I would like to release new `kubeflow-fairing` 0.7.1 pacakge to Pypi with kubeflow 0.7.1 release.

@abhi-g Do you think if any more feature or bugs need to be fixed before `kubeflow-fairing` 0.7.1? Thanks.

/assig

[2020-01-08 10:17] hamedhsn commented on #380
I face the same problem(you can pull images from dockerhub but not locally) with kubernetes in docker.  As a workaround if you set the pull policy to *Never* then it will be forced to use the local images. Not sure if we have option to pass the pull policy value in fairing. I will check that later.

[2020-01-08 16:50] abhi-g commented on #440
@jinchihe I think we are good to go.
The only reason I asked to make this into a separate PR was to ensure feature changes could be merged / rollbacked etc. without worrying about the ordering of their PRs etc.

[2020-01-08 22:46] jtfogarty commented on #22
/area docs
/kind question
/priority p2

[2020-01-09 02:24] jinchihe commented on #440
@abhi-g Yes, I understood your comments. I will send a separate PR to update version and then release new one.

[2020-01-09 08:53] xauthulei opened #441 "Prediction readme need to be refreshed"
In the current prediction [Readme](https://github.com/kubeflow/fairing/blob/master/examples/prediction/README.md), the docker image creating process is not right:
[code]
If you deploy it later, you will find the new images will not include the files: `HousingServe.py`,`requirements.txt`, `trained_ames_model.dat`
Also, the running env will miss the python libs recorded in `requirements.txt`

[2020-01-13 20:50] yantriks-edi-bice commented on #370
The Fairing documentation in Kubeflow states that "Kubeflow notebook servers that are built from one of the standard Jupyter Docker images include Kubeflow Fairing and come preconfigured for using Kubeflow Fairing to run training jobs on your Kubeflow cluster." It seems however that it does so with an older version of Fairing, 0.5, and none of the examples work, modules have been renamed etc.

[2020-01-13 21:10] abhi-g commented on #370
fair point Yannis. @jinchi should we update the dockerfile for Jupiter
Notebooks to install the latest release of fairing. The examples do work
with it.

On Mon, Jan 13, 2020 at 12:50 PM yantriks-edi-bice <notifications@github.com>
wrote:

[2020-01-14 02:14] jinchihe commented on #370
I saw there is a PR to upgrade Fairing in Notebook image. https://github.com/kubeflow/kubeflow/pull/4645 thanks

[2020-01-15 04:01] #441 closed

[2020-01-15 17:09] #440 closed

[2020-01-15 22:31] jtfogarty commented on #425
/area engprod
/priority p2

[2020-01-15 22:32] jtfogarty commented on #417
/area engprod
/priority p2

[2020-01-15 22:33] jtfogarty commented on #408
/area engprod
/priority p2

[2020-01-15 22:36] jtfogarty commented on #384
/area engprod
/priority p2

[2020-01-15 22:37] jtfogarty commented on #381
/area example
/priority p2

[2020-01-15 22:39] jtfogarty commented on #380
/area example
/priority p2

[2020-01-15 22:42] jtfogarty commented on #369
/area engprod
/priority p2

[2020-01-15 22:42] jtfogarty commented on #366
/area jupyter
/priority p2

[2020-01-15 22:44] jtfogarty commented on #361
/area engprod
/priority p2

[2020-01-15 22:46] jtfogarty commented on #360
/priority p2
/area engprod

[2020-01-15 22:48] jtfogarty commented on #357
/priority p2
/area engprod

[2020-01-15 22:50] jtfogarty commented on #344
/area engprod
/priority p2

[2020-01-15 22:50] jtfogarty commented on #332
/priority p2
/area engprod

[2020-01-15 22:51] jtfogarty commented on #329
/priority p2
/area engprod

[2020-01-15 22:52] jtfogarty commented on #314
/priority p2
/area engprod

[2020-01-15 22:54] jtfogarty commented on #309
/priority p2
/area engprod

[2020-01-15 22:54] jtfogarty commented on #308
/priority p2
/area engprod

[2020-01-15 22:55] jtfogarty commented on #307
/priority p2
/area jupyter

[2020-01-15 22:56] jtfogarty commented on #302
/priority p2
/area engprod

[2020-01-15 22:57] jtfogarty commented on #284
/priority p2
/area engprod

[2020-01-15 22:57] jtfogarty commented on #273
/priority p2
/area engprod

[2020-01-15 22:58] jtfogarty commented on #273
/priority p2
/area engprod

[2020-01-15 22:59] jtfogarty commented on #265
/priority p2
/area engprod

[2020-01-15 23:00] jtfogarty commented on #254
/area engprod

[2020-01-15 23:01] jtfogarty commented on #243
/priority p2
/area docs

[2020-01-15 23:02] jtfogarty commented on #223
/area engprod
/priority p2

[2020-01-15 23:03] jtfogarty commented on #209
/area engprod
/priority p2

[2020-01-16 16:21] jtfogarty commented on #201
/area engprod
/priority p2

[2020-01-16 16:22] jtfogarty commented on #118
/area engprod
/priority p2

[2020-01-16 16:26] jtfogarty commented on #102
/area engprod
/priority p2

[2020-01-16 16:28] jtfogarty commented on #100
/area example
/priority p2

[2020-01-16 16:29] jtfogarty commented on #90
/area lifecycle
/priority p2

[2020-01-16 16:30] jtfogarty commented on #80
/area example
/priority p2

[2020-01-16 16:31] jtfogarty commented on #40
/area engprod
/kind feature

[2020-01-31 07:33] aritar opened #449 "How can one use Fairing on onPrem cluster when docker daemon is not running?"
/kind bug

**What steps did you take and what happened:**
I'm trying to setup Fairing for onPrem cluster using Microk8s. Fairing documentation states that Fairing uses docker to build/push images. However, the custom Jupyter notebook doesn't seem to run docker daemon showing error `Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?` whenever docker co

[2020-01-31 07:35] aritar commented on #449
Updating from another account. Closing here.

[2020-01-31 07:35] #449 closed

[2020-01-31 07:36] tarun0 opened #450 "How use Fairing on Kubeflow running on local cluster?"
/kind bug

**What steps did you take and what happened:**
I'm trying to setup Fairing for onPrem cluster using Microk8s. Fairing documentation states that Fairing uses docker to build/push images. However, the custom Jupyter notebook doesn't seem to run docker daemon showing error `Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?` whenever docker co

[2020-02-10 08:07] hemantha-kumara opened #451 "pip install kubeflow-fairing is failing due to requirements.txt is not found"
pip install kubeflow-fairing fails due to requirements.txt is not found

[code]

[2020-02-10 16:42] Luke035 opened #452 "No module named 'cloudpickle.cloudpickle_fast' when launching JOB"
/kind bug

**What steps did you take and what happened:**
I launched a simple JOB made of a basic function (just print a statement)
[code]

After launching the submit command the container is built correctly and eventually pushed into the registry, but once launched  I get the following error

[code]

**What did you expect to happen:**
Job correctly launched

**Anything else you would like to add:

[2020-02-12 05:54] DdMad commented on #450
I got the exactly the same issue after installing docker. It seems that there is some issue when installing docker inside a docker container, but don't know how to fix it. `docker run -v /var/run/docker.sock:/var/run/docker.sock` might be a workaround, but for my case is not ideal :(.

[2020-02-12 19:28] jlewi opened #453 "Create a python method to bulk apply YAML specs for KF resources"
/kind feature

See the function `apply_k8s_specs`
https://github.com/kubeflow/examples/blob/21b24b2bf083b832d6589625d002e0865a62b183/mnist/k8s_util.py#L32

This is function is really useful in notebooks we are using as KF tutorials. In the notebook we can basically just define a list of strings containing YAML specs and then apply them. (See how its used in the mnist example in that PR).

I think

[2020-02-12 19:36] jlewi opened #454 "Better Tekton support r(possibly replace ClusterBuilder)"
/kind feature

A common task for fairing Kubeflow is building docker images in cluster.

Right now we use ClusterBuilder and some of the other libraries to do this.

I wonder if it might not be better to offer Tekton as an option.

In kubeflow/examples#723 I'm creating an E2E example for mnist that runs inside Jupyter on Kubeflow. This needs to build a bunch of Docker images and is currently using

[2020-02-12 19:47] jlewi opened #455 "Add a GCP function to generate stackdriver links"
/kind feature

I think it would be useful in our SDK to have a python function to generate stackdriver logs given a filter experession.

Basically this function
https://github.com/kubeflow/testing/blob/95955e506e9d1dd1aab22ed0412644533a90fd7d/py/kubeflow/testing/argo_build_util.py#L239

[2020-02-13 03:55] swiftdiaries opened #456 "InCluster Builder - Context Source for vanilla-k8s"
/kind feature

**Describe the solution you'd like**
Currently, there are two docker context sources for kaniko used for the in-cluster builder.
1. GCS
2. S3

For vanilla-k8s, it'd be good to add two options:
1. MinioContextSource
2. VolumeContextSource

**Anything else you would like to add:**
This is currently a blocker for https://github.com/kubeflow/examples/issues/725

/cc @johnugeorge @jlewi

[2020-02-13 04:02] swiftdiaries opened #457 "Kaniko for InCluster Builder cannot connect to Minio Service"
/kind bug

**What steps did you take and what happened:**
Created a MinioContextSource for the in-cluster builder.
Executed the image builder.

Logs from the fairing job:
[code]

**What did you expect to happen:**
Image to be built and pushed to registry successfully.

**Anything else you would like to add:**
It's probably because I need to mount the credentials needed for the Minio Server.

**Env

[2020-02-13 04:02] swiftdiaries commented on #457
Related: https://github.com/kubeflow/fairing/issues/456

[2020-02-13 04:41] swiftdiaries commented on #457
Adding this as an issue to track problems with running an in-cluster builder on vanilla k8s. Might not be a direct bug in fairing.

[2020-02-13 05:28] swiftdiaries commented on #457
https://github.com/GoogleContainerTools/kaniko/pull/698
This has the right podspec for building with Minio Contexts.
I'll update https://github.com/kubeflow/fairing/pull/458 with the changes

[2020-02-13 05:56] #457 closed

[2020-02-13 13:30] jlewi commented on #456
@swiftdiaries could you use the S3 context source with MinIO?

[2020-02-13 21:48] swiftdiaries commented on #456
I tried using it initially. The context prepare function authenticates to AWS via a 'sts' resource in the boto3 client. Minio needs authentication via the 's3' resource in the same.
And it looks like kaniko needs a specific set of env vars on the podspec to use the MinIO context.
Kaniko Reference here: https://github.com/GoogleContainerTools/kaniko/pull/698#issue-287745962

[2020-02-13 22:42] #456 closed

[2020-02-14 05:15] colinfindlay-nz opened #459 "Set output_map on TrainJob"
/kind feature

I'm new Kubeflow and fairing - but I can't seem to set up the scenario I'm after. Everything I've done so far is from my local machine, not a Notebook.

I was using the `TrainJob` with the `KubeflowGKEBackend`. It was working well, but for some reason you can't set `output_map` - it's simply not a paramter and is forced to `{}`

Alternatively I have tried `fairing.config.set_(prepro

[2020-02-16 04:38] marcindulak opened #460 "Loading Docker credentials for repository: SSLError"
/kind bug

**What steps did you take and what happened:**

I'm using an insecure docker registry, and fairing fails to push into it.

From the jupyter notebook cell (jupyter image `gcr.io/kubeflow-images-public/tensorflow-1.14.0-notebook-cpu:v0.7.0`) I'm checking whether I can access the repository (and verified k8s can pull images from it):

[code]

Fairing installed from a notebook cell with

[c

[2020-02-16 10:08] marcindulak commented on #450
What about using `append` builder.
https://github.com/kubeflow/fairing/blob/7e4c23c47a6b0544a722d04e1f9910c2f283a4f6/kubeflow/fairing/builders/append/append.py#L20-L22

Does the small example included in https://github.com/kubeflow/fairing/issues/460 work for you?

[2020-02-19 23:22] nepalineupane commented on #460
Got the same issue here.

[2020-02-20 00:41] marcindulak commented on #460
It looks like a self-signed certificate for the registry won't help either.

Follow https://docs.docker.com/registry/insecure/#use-self-signed-certificates
Use defaults, except for `Common Name (e.g. server FQDN or YOUR name) []:registry`

[code]

[code]

The fairing jobs results this time in

[code]

[2020-02-20 01:37] marcindulak opened #461 "Builder append mode: Error during upload of: index.docker.io/.../fairing-job:2B7FAA2D: BrokenPipeError"
/kind bug

**What steps did you take and what happened:**

Fairing fails to push the image to a dockerhub repository (private or public, created manually in advance on dockerhub).

I'm running jupyter image `gcr.io/kubeflow-images-public/tensorflow-1.14.0-notebook-cpu:v0.7.0` as the jupyter server, started with 1 core and 4GB RAM.

Providing the docker credentials by creating `.docker/config.json`

[2020-02-20 07:29] jinchihe opened #462 "User cannot specify a fixed TFJob name"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
User cannot specify a fixed TFJob name, the TFJob name is used to be a generate name always even if user specified that. If so k8s will add one suffix.

https://github.com/kubeflow/fairing/blob/7e4c23c47a6b0544a722d04e1f9910c2f283a4f6/kubeflow/fairing/deployers/tfjob/tfjob.py#L80

**What

[2020-02-20 07:29] jinchihe commented on #462
/assign

[2020-02-20 10:30] jinchihe opened #463 "Need add option to let user specify the InferenceService name"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Need add option to let user specify the InferenceService name:

https://github.com/kubeflow/fairing/blob/7e4c23c47a6b0544a722d04e1f9910c2f283a4f6/kubeflow/fairing/deployers/kfserving/kfserving.py#L44

**Anything else you would like to add:**
[Miscellaneous information that will assist

[2020-02-20 10:30] jinchihe commented on #463
/assign

[2020-02-21 08:37] jinchihe opened #465 "Supports loading kube config from user specified path for remote cluster"
/kind feature

**Describe the solution you'd like**

Supports launch the Job or TFJob to remote cluster.
There are two cluster, user is working in cluster A, and want to lauch the Job to remote cluster B to running, now the code only support read k8s conf file from default location, we should support user specify the conf file and load that.

**Anything else you would like to add:**
[Miscellaneous

[2020-02-21 08:38] jinchihe commented on #465
/assign

[2020-02-21 22:17] marcindulak commented on #461
Additional experiment using a gcr.io registry also failed with the same error.

I'm using the following trick to inject the gcp credentials into the running notebook

1. exec into the jupyter pod `kubectl -n anonymous exec -it production-notebook-0 -- bash` and docker login to the gcr

[code]

2. then setup the environment and variables from a jupyter notebook cell

[code]

[code]

[2020-02-21 23:00] marcindulak commented on #461
Update: after several attempts (re-running the `remote_train()`) succeeds, but then the `fairing-job` fails to pull a private image which is https://github.com/kubeflow/fairing/issues/380

Closing, but it would be nice to have a possibility to use self-hosted registries (insecure or with a self-signed certificate) https://github.com/kubeflow/fairing/issues/460

[2020-02-23 01:56] marcindulak commented on #461
Let me reopen until I can test pushing from a better network.

It is interesting to see that every execution of `remote_train()` keeps adding resident memory

[code]

[code]

[code]

[2020-02-23 04:10] #463 closed

[2020-02-23 05:14] anupash147 commented on #347
Did not work.

[2020-02-24 07:12] #462 closed

[2020-02-26 15:25] jlewi opened #468 "fairing 2020 ROADMAP"
/kind feature

The roadmap for fairing is probably in need of a refresh. What are the high level goals for 2020?

@jinchihe @animeshsingh any interest in driving this? I think it would be great to put together some ideas and discuss it at a community meeting.

[2020-02-27 00:01] jinchihe commented on #468
OK, will try to collect some requirements and discuss in community meeting. Thanks.

[2020-03-02 09:34] jinchihe opened #469 "Fairing supports IBM Public Cloud as backend"
/kind feature

**Describe the solution you'd like**
Fairing already support GKE, AWS and Azure, should also support IBM Public Cloud as backend

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-03-02 09:34] jinchihe commented on #469
/assign @jinchihe
/cc @animeshsingh

[2020-03-03 22:01] yantriks-edi-bice opened #470 "predict() got an unexpected keyword argument 'meta'"
/kind bug

**What steps did you take and what happened:**

Deployed Kubeflow 1.0 on GCP and worked through xgboost-high-level-apis.ipynb. All went well until the endpoint.predict_nparray(test_X) step which generated following error

---------------------------------------------------------------------------
JSONDecodeError                           Traceback (most recent call last)
<ipython-input-

[2020-03-05 03:49] mochiliu3000 opened #472 "Fairing supports local podman builder to submit jobs to CRI-O runtime"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Environments like OCP 4 use CRI-O as default container runtime. In order to submit jobs to such environment, need to support podman builder to build and push images.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
It is bette

[2020-03-05 05:30] jinchihe commented on #472
Great suggestion/feature, seems podman is being used for some user cases now... That's good to support that as a builder. Thanks @mochiliu3000

[2020-03-05 06:38] gautamkmr commented on #468
Given that we want our users to select the cloud providers of their choice, we definitely need to add support for other cloud providers like AWS and Azure. We also need to make sure that fairing has feature parity among AWS, Azure and GCP.

[2020-03-05 09:31] mochiliu3000 commented on #472
@googlebot I fixed it

[2020-03-09 07:21] jinchihe opened #475 "The example for Cluster builder does not work"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The example for Cluster builder does not work, since the `context_source` is not optional now.

https://github.com/kubeflow/fairing/blob/19f2e0cee5adac97b27d67944bb83429f6d8bf0b/examples/kubernetes-in-cluster-builder/main.py#L78

And another problem is we need enhance code to let `conte

[2020-03-09 07:21] jinchihe commented on #475
/assign

[2020-03-09 17:47] #465 closed

[2020-03-10 12:38] jinchihe commented on #243
This is already done, See API docs here https://kubeflow-fairing.readthedocs.io/en/latest/index.html

/close

[2020-03-10 12:38] #243 closed

[2020-03-10 12:48] jinchihe commented on #82
This has been done in #300

/close

[2020-03-10 12:48] #82 closed

[2020-03-10 12:55] jinchihe commented on #468
@gautamkmr Fairing already supports AWS and Azure as backends. Thanks.

[2020-03-13 22:51] jlewi commented on #472
What is podman?

Would anything change if per kubeflow/fairing/issues/454 we switch to using Tekton to build docker images? i.e. is podman just a builder like Kaniko? So would it just be a matter of people defining Tekton tasks to build their images using podman and then firing them off with fairing?

[2020-03-16 08:32] SmartInWhut opened #478 "apend builder with requestment.txt supported"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
`requestment.txt` support when using `append builder`, just like `docker builder` did; since i mostly use fairing sdk inside container whitout `docker`，we can't use docker builder, but the suppot of `requestment.txt`  is convenient.
or should i install `docker` inside the container? th

[2020-03-17 13:52] jinchihe commented on #472
@jlewi Podman is a daemonless container engine for developing, managing, and running OCI Containers on your Linux System. Containers can either be run as root or in rootless mode.

Yes, I will take a high priority to take a look the Tekton with Fairing. For now I think it's better to support that as someone is going to use Fairing and may need to build image via podman. I noticed @mochiliu3000 has

[2020-03-17 15:45] jlewi commented on #428
Should we get rid of the high level APIs rather than continue to expand them?

fairing has "ml_tasks"
https://github.com/kubeflow/fairing/tree/master/kubeflow/fairing/ml_tasks

Which combine together the lower level APIS (preprocessors, builders, deployers).

In a lot of our examples, we find that this API is too constraining and its easier just to use the low level APIs directly.

Should we depre

[2020-03-18 00:17] animeshsingh commented on #454
+1. Given the overall wide array of tasks in Kubeflow which are being done using Tekton, including CI/CD, it will make sense to use it as a common tooling where we have common scenarios which require build et all be handled by Tekton, and leverage wide support of features which Tekton provides to expose Kube native resources.

cc @jinchihe

[2020-03-18 01:33] nrchakradhar commented on #472
If I am not mistaken, buildah is used for building container images. This has one advantage of being rootless compared to docker.
It would be better to offer all options for container builds: docker, kaniko, buildah/podman, tekton.
For tekton usage, additional setup may be needed which may not always be the case.

[2020-03-18 01:41] mochiliu3000 commented on #472
Hi @jlewi, Podman is a tool we use to build, maintain image and runtime on OpenShift. As OpenShift 4.X now use CRI-O as default container runtime, Podman is a suggested tool to replace docker. My team are now moving our existing model training workloads to OpenShift, so hope that fairing can better support such environment and scenario.

For details, see:
https://access.redhat.com/documentation/en

[2020-03-18 01:49] jinchihe commented on #453
/assign

Will investigate and implement this. Thanks.

[2020-03-18 02:30] jinchihe commented on #428
@jlewi Thanks for the comments.

Let talk about `ml_tasks` in #476

/close

[2020-03-18 02:30] #428 closed

[2020-03-20 01:54] #469 closed

[2020-03-30 09:19] #472 closed

[2020-03-30 10:24] nrchakradhar commented on #472
In case somebody comes here for additional information about differences between podman and buildah, here are couple of links:
https://podman.io/blogs/2018/10/31/podman-buildah-relationship.html
https://developers.redhat.com/blog/2019/02/21/podman-and-buildah-for-docker-users/

[2020-03-30 11:29] mochiliu3000 commented on #450
Found the same error, maybe we can downgrade microk8s to 1.13, see this for detail: [https://github.com/ubuntu/microk8s/issues/382](url)

[2020-03-30 13:40] iancoffey commented on #454
Im new to this project, but I have a bunch of experience with Tekton. Id love to be assigned this one, as a way to get better oriented with this project :)

[2020-03-31 05:00] mochiliu3000 commented on #450
In case you want to do quick tests with fairing on microk8s, here is a dirty way to fix it @tarun0, @DdMad

1. Please downgrade your microk8s to 1.13 for docker command (see [https://github.com/ubuntu/microk8s/issues/382](https://github.com/ubuntu/microk8s/issues/382))
2. Fairing has hard coded docker-py to read local '/var/run/docker.sock' for docker client, hence
need to create soft links for mi

[2020-03-31 08:55] mochiliu3000 commented on #450
@marcindulak Append builder is also working for microk8s v1.13, but not working for 1.14 and higher.

[2020-04-01 11:30] mochiliu3000 commented on #380
Using microk8s > 1.13 will give hit this error since it uses microk8s.ctr and is not docker based.

'Append builder' calls Layer Class method originally from [containerregistry](https://github.com/google/containerregistry), however fairing has an older version. See append_.py code difference:
https://github.com/google/containerregistry/blob/8a11dc8c53003ecf5b72ffaf035ba280109356ac/client/v2_2/appe

[2020-04-07 10:04] PoornimaDevii commented on #227
@jinchihe While using fairing on on-prem cluster, I was not sure of the fairing backend used and the related build_context_source. Was able to find only context source methods only for clouds but not for on-prem.  Would be good if I know the backend and context source you used while testing on prem.

[2020-04-08 05:11] sakaia opened #480 "Cannot do "import kubeflow.tfjob""
/kind bug

**What steps did you take and what happened:**
`import kubeflow.tfjob` does not work.

instruction (following commands work successfully)
[code]

But following command fails with `ModuleNotFoundError: No module named kubeflow.tfjob`

[code]
**What did you expect to happen:**
`import kubeflow.tfjob` works fine

**Anything else you would like to add:**

Following command also does not wor

[2020-04-08 06:46] jinchihe commented on #480
You should install `kubeflow-fairing`
[code]

[2020-04-08 07:05] jinchihe commented on #451
Why
[code]
I think should be
[code]

[2020-04-09 00:41] #468 closed

[2020-04-09 07:46] jinchihe commented on #227
@PoornimaDevii You can use the `KubernetesBackend`, or see the example https://github.com/kubeflow/fairing/tree/master/examples/mnist

[2020-04-09 08:53] PoornimaDevii commented on #227
@jinchihe Thanks !

[2020-04-10 08:53] #475 closed

[2020-04-10 13:41] iancoffey commented on #454
cc @jinchihe may I be assigned this one?

[2020-04-16 07:53] jinchihe commented on #454
@iancoffey sorry for later. Yeah, any process from your sides already done?  I also started investigating with @mochiliu3000 for this, as for as know, @mochiliu3000 did a design for this for reviewing now.

[2020-04-16 12:44] nrchakradhar commented on #454
/cc @nrchakradhar

[2020-04-17 08:53] jinchihe commented on #454
@jlewi  In fact, I have some concerns about this:
- If so, user needs to install Tekton CRD in clusters, this may increase user time overhead and complexity, may not be good for user experience. And for some user envionment, User cannot install CRD without Cluster Admin agreement.
- If user define YAML, user may like to use the Tekton directly, If only use Fairing to apply the YAML, seems it's bit

[2020-04-17 09:56] mochiliu3000 commented on #454
I got some idea for this and made a simple design. From my understanding, fairing ClusterBuilder now deploys job in 4 steps:

1. Initiate: Gather runtime config, initiate preprocessor, builder and deployer
2. Preprocess: Wrap training code, generate build context and upload build context to PV or S3, GCS...
3. Build and Push: Build image with build context and push image to registry in a Kanico co

[2020-04-17 11:40] sachua opened #486 "Kubeflow fairing on-prem air-gapped with private registry"
I tried the example https://github.com/kubeflow/examples/blob/master/mnist/mnist_vanilla_k8s.ipynb, with docker registry set to my private registry.

I had uploaded the kaniko image and tensorflow image into my private registry.
Since my private registry was secure, I added my CA certificate into the kaniko image.

However, when i tried running cluster_builder.build(), the image was not uploaded t

[2020-04-17 13:39] #453 closed

[2020-04-20 02:40] #486 closed

[2020-04-20 08:02] jinchihe commented on #480
/close

[2020-04-20 08:02] #480 closed

[2020-04-20 08:06] jinchihe opened #487 "Support specifying GPU resource"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Now, more and more Machine learning cases are executed on GPU cluster, Kubeflow Fairing should support specifying GPU resource. For now, only support configuring CPU and Memory.

https://github.com/kubeflow/fairing/blob/e0d44e870b467bbd773f836a8b1b648b79019dd1/kubeflow/fairing/kuberne

[2020-04-20 08:06] jinchihe commented on #487
/assign

[2020-04-21 01:37] jlewi commented on #454
Couldn't we just install Tekton when we deploy Kubeflow?

So fairing is currently creating a K8s Job.
https://github.com/kubeflow/fairing/blob/e0d44e870b467bbd773f836a8b1b648b79019dd1/kubeflow/fairing/builders/cluster/cluster.py#L82

So one way to think about is it should we use a K8s Job or a Tekton Task? You could still wrap it in whatever python SDK you want to provide a higher level API.

I th

[2020-04-21 01:54] allenc97 opened #489 "Cannot run MNIST example because packages cannot be installed"
It appears that azure 5.0.0 is causing notebook_setup.py to break.
[code]

[2020-04-21 01:58] allenc97 commented on #489
A quick fix is to run
[code]
before the subprocess call in notebook_setup. According to https://pypi.org/project/azure/, this package has been deprecated as of 04/08/2020.

[2020-04-27 06:29] hemantha-kumara commented on #451
Maybe an issue with python version I am using.
In python3, I don't see the error. it was my mistake.

[2020-04-27 06:29] #451 closed

[2020-04-30 14:08] iancoffey commented on #454
I picture Tekton fitting nicely as an additional, optional Builder and not a wholesale replacement for the simpler ClusterBuilder Job based builder - which will still be very useful to have.  As an optional builder, there would be no hard dependency on Tekton being installed on cluster, if the user does not need it.

Some workloads will not need the horsepower Tekton brings - but it would be great

[2020-05-01 20:28] iancoffey commented on #454
![fairing-tekton-builder](https://user-images.githubusercontent.com/1152225/80839097-8d62bd80-8bc8-11ea-8ddd-04e0cfac3309.png)

[2020-05-06 09:29] jinchihe commented on #454
@iancoffey Thanks. so user define the Tekton YAML and and then use fairing to submit them no notebook? if so, seems not much efforts needed, just use below function to apply namespaced objects (if have cluster object, we need to enhance the function or implement new one).

https://github.com/kubeflow/fairing/blob/6717b3d3806c8093adf1186bc819ad887238f287/kubeflow/fairing/kubernetes/manager.py#L407

[2020-05-06 17:00] iancoffey commented on #454
@jinchihe Directly submitting TaskRuns/PipelineRuns via `apply_namespaced_objects `  is one integration option, but another (imo more flexible) option would be to treat the [EventListener](https://github.com/tektoncd/triggers/blob/master/docs/eventlisteners.md) as the interface between the fairing and the build system. In this scenario, what happens on the other end of the Trigger is sort of behin

[2020-05-07 06:39] jinchihe commented on #454
Great thanks! @iancoffey Yeah, that's very useful if have a POC for the implement plans. And I suggest keeping the current Builder and Deployer, as far as I know, there are some users are taking the Builder, instead of replacing it, we should do it incrementally.

[2020-05-07 07:56] jinchihe commented on #487
Already implemented in #488

[2020-05-07 07:56] #487 closed

[2020-05-08 04:17] songm28 opened #491 "Fairing Serving job overwrite the user custom pod container command"
/kind bug

**What steps did you take and what happened:**
I set the command 'python xxx.py' for the pod in the preprocessor to build and deploy the docker image, but the command is overwritten by 'seldon-core-microservice xxx REST --service-type=MODEL --persistence=0'  after deploy the fairing serving job.

**What did you expect to happen:**
the expectation is to run both the custom command and th

[2020-05-08 09:10] mochiliu3000 commented on #454
@iancoffey Nice diagram. It is good to have an event-style builder that maps
field and configuration of online event using `Tekton Triggers`.
I've also made a simple Tekton clusterbuilder pipeline [here](https://github.com/mochiliu3000/fairing/tree/clusterbuilder-tekton/kubeflow/fairing/builders/cluster_tekton) following [Kubeflow CD](https://github.com/kubeflow/testing/tree/master/apps-cd). It us

[2020-05-08 14:28] jlewi commented on #454
Thanks @iancoffey I think there are a lot of potential integration points between Tekton Triggers and Kubeflow (possibly kubeflow/kfp-tekton#82).  We have started to use Tekton to make certain ML tasks repeatable e.g. running a notebook and uploading its output as HTML (kubeflow/testing#613).

I opened this issue though less about the underlying implementation (e.g. Triggers vs. calling APIServer)

[2020-05-09 08:30] songm28 opened #492 "Fairing Serving job user can not set the custom environment vars"
/kind feature

**Describe the solution you'd like**
so far, for the Faring Serving Job , user can not set the specific custom environment vars like the custom command, is it possible let user to set the env parmameters like command in the preprocessor to build in the pod spec?

_[class BasePreProcessor(object)](https://github.com/kubeflow/fairing/blob/master/kubeflow/fairing/preprocessors/base.py)

[2020-05-09 12:46] iancoffey commented on #454
Yes, one big plus to this via this event-driven build system is that it does not matter where the Tekton cluster is located - locally on microk8s will work identically to a large production cluster. This is invaluable for keeping dev->staging->production pipelines sane and stable.

This also introduces a really nice separation of concerns, where data scientists simply don't interact with k8s or Te

[2020-05-09 21:49] animeshsingh commented on #454
its an interesting discussion - will take a step back and point to few things, which have come up many times

1. Fairing providing abstractions for data scientists to do some common tasks, which can be executed on a remote cluster - the concept itself is a bit overlapping with Kubeflow Pipelines and KFP Python SDK.  The work we are doing here https://github.com/kubeflow/kfp-tekton essentially is i

[2020-05-16 02:45] panbalag commented on #93
@r2d4 for the solutions, did you imply to package the virtualenv in to the base image?

[2020-05-16 04:31] panbalag commented on #93
@r2d4 is there any plans of fixing the append builder code to install packages from requirements.txt?

[2020-05-19 04:44] Ark-kun opened #494 "Fairing tries to list secrets instead of get when it just need to check for existence of a single secret"
The [secret_exists](https://github.com/kubeflow/fairing/blob/e0d44e870b467bbd773f836a8b1b648b79019dd1/kubeflow/fairing/kubernetes/manager.py#L212) function is incorrectly using `[list_namespaced_secret](https://github.com/kubeflow/fairing/blob/e0d44e870b467bbd773f836a8b1b648b79019dd1/kubeflow/fairing/kubernetes/manager.py#L220)`  to check for the existence of a secret instead of `read_namespaced_s

[2020-05-20 10:48] chantikummari commented on #283
Facing same issue with the xgboost-high-level-apis.ipynb in azure

[2020-05-21 05:03] chantikummari commented on #470
facing same issue with azure also:

JSONDecodeError                           Traceback (most recent call last)
<ipython-input-17-6834bd432371> in <module>
      1 (train_X, train_y), (test_X, test_y) = read_input("ames_dataset/train.csv")
----> 2 endpoint.predict_nparray(test_X)
      3 #test_X[1,]
      4 #endpoint.predict(test_X)

~/.local/lib/python3.6/site-packages/kubeflow/fairing/ml_tasks/t

[2020-05-22 04:07] bomerzz opened #496 "Requirements.txt missing from pip package"
/kind bug

pip install kubeflow-fairing
Collecting kubeflow-fairing
Downloading https://files.pythonhosted.org/packages/ab/7a/45aa727f59386aa0bccd1314c4c3837352eb04c43836c25871fbc372abca/kubeflow-fairing-0.7.2.tar.gz (98kB)
100% |████████████████████████████████| 102kB 913kB/s
Complete output from command python setup.py egg_info:
Traceback (most recent call last):
File "", line 1, in
File "/tmp/p

[2020-06-03 01:57] sakaia opened #499 "Would you describe the version relation ship between github code and pypi?"
/kind bug

**What steps did you take and what happened:**
Would you describe the version relation ship between github code and pypi?
For Pypi, currenly version is 0.7.2. But github does not have such version

- [(github)fairing](https://github.com/kubeflow/fairing/releases)
- [(pypi) kubeflow-fairing](https://pypi.org/project/kubeflow-fairing/#history)

**What did you expect to happen:**
The versi

[2020-06-08 21:27] pvgbabu commented on #248
@xauthulei Is your Docker file works for on-prem kubeflow.

[2020-06-11 05:45] sakaia opened #502 "Is threre any instruction on examples/simple for docker registry case?"
/kind bug

**What steps did you take and what happened:**
I try to execute fairing on local repository but it failed.
Is there any comments?

Edit `examples/simple/main.py`

[code]
execute python script

[code]
`Waiting for` continues

[code]

**What did you expect to happen:**
example/simple/main.py works fine on local repository.

**Anything else you would like to add:**
I am looking into "docke

[2020-06-15 08:47] jinchihe commented on #496
/assign

I going to add that.

[2020-06-15 08:51] jinchihe commented on #496
@bomerzz which version you used? I tried that, the package can be installed.

[code]

But yeah, we should add the requirements.txt, so that user can download tar source code from Pypi.

[2020-06-16 03:16] jinchihe opened #503 "Release Kubeflow Fairing 1.0"
We are going to release new stable Kubeflow Fairing 1.0 release, with some feature enhancement and bug fix. we need to go though the recent issue and pick P1/S1 issues and fix that before release. Thanks.

/cc @jlewi

[2020-06-16 03:17] jinchihe commented on #503
The version will be released with Kubeflow 1.1, as planed in https://github.com/kubeflow/kubeflow/issues/5022

[2020-06-16 03:22] jinchihe opened #504 "Should not attach GPU resource for TFJob PS pod"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

If we set the GPU resource, we should not attach GPU resource for PS, just need to Chief and Worker node.

https://github.com/kubeflow/fairing/blob/804916bd71c32de45afa2a4ecba9607f4283e990/kubeflow/fairing/kubernetes/utils.py#L33

[2020-06-16 11:44] bomerzz commented on #496
At the time of posting this issue, I was using version 0.7.2

[2020-06-16 16:32] chaitanyak52 commented on #470
I see the same issue on azure

---------------------------------------------------------------------------
JSONDecodeError                           Traceback (most recent call last)
<ipython-input-76-9eaab2e2fb62> in <module>
      1 (train_X, train_y), (test_X, test_y) = read_input("ames_dataset/train.csv")
----> 2 endpoint.predict_nparray(test_X)

~/.local/lib/python3.6/site-packages/kubeflow/f

[2020-06-17 05:16] jinchihe commented on #470
Anyone interested in solving this problem? Thanks

[2020-06-17 05:31] jinchihe commented on #499
we added 0.7.3 release (tag) which is match with kubeflow-fairing 0.7.3 release. Will add tag in future major release. Thanks.

[2020-06-17 05:31] #499 closed

[2020-06-17 06:43] chantikummari commented on #470
Yes

[2020-06-17 09:18] #504 closed

[2020-06-17 09:29] jinchihe opened #506 "Better to reminder user how to install kubeflow-fairing in Readme"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Better to reminder user how to install kubeflow-fairing in Readme, since someone install Fairing by `pip install fairing`, instead of `pip install kubeflow-fairing`.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-06-18 07:34] jinchihe commented on #502
You can try the e2e example:
https://github.com/kubeflow/fairing/tree/master/examples/mnist

[2020-06-18 07:47] jinchihe opened #508 "AttributeError while using Kubeflow Fairing"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Getting the following error when using kubeflow-fairing:

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Fairing version: (use `python -c "import kubeflow.fairin

[2020-06-18 08:13] jinchihe commented on #508
Seems a much better solution for those running into this issue is to do `pip install --upgrade nbconvert`. This allows you to keep tornado6.

[2020-06-18 09:15] jinchihe commented on #489
The problem should be already fixed in https://github.com/kubeflow/fairing/pull/482

Please reopen if you still have the problem, thanks.

[2020-06-18 09:15] #489 closed

[2020-06-18 09:30] jinchihe commented on #470
@chantikummari Did you tried this with new kubeflow-fairing? the example is executed and passed in CI testing. Thanks.

[2020-06-18 09:34] #506 closed

[2020-06-18 09:38] #508 closed

[2020-06-18 09:38] #496 closed

[2020-06-18 11:43] chantikummari commented on #470
I didn't try yet. We skipped that fairing feature from our project. I will definitely check it if any requirement comes related to it.

[2020-06-19 03:16] jinchihe commented on #470
So I suggest use latest kubeflow-fairing, and use new the example, the example is updated, such as in the PR:
https://github.com/kubeflow/fairing/pull/335

[2020-06-19 03:28] jinchihe commented on #492
@songm28 Are you interested implementing this? Thanks.

[2020-06-19 03:29] jinchihe commented on #478
You can try the cluster build, thanks.

https://github.com/kubeflow/fairing/blob/950d8054ac4f4761179b02c0af0c49288ace4e3a/kubeflow/fairing/builders/cluster/cluster.py#L15

[2020-06-19 06:41] songm28 commented on #492
@jinchihe ok, I will make the change.

[2020-06-19 08:18] jinchihe commented on #461
[code]

Would you try to update the `DOCKER_REGISTRY ` to your docker username? such as `index.docker.io/your_docker_id`? seems that's caused uploading error. Also you can try push the image manually to see if the error. Thanks.

[2020-06-19 08:29] jinchihe commented on #459
Personally I suggest you use low level APIs such as `preprocessor|builder|deployer`, but yeah, we can enhance here to let user set `output_map `.

[2020-06-19 09:22] #459 closed

[2020-06-19 12:33] pvgbabu opened #513 "from kubeflow import fairing getting ImportError: cannot import name 'mtls' on on prem cluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Fairing version: (use `python -c "import kubeflow.fairing; print(kubeflow.fairing.__version__)"`): 0.7.3
- Kubeflow versio

[2020-06-19 12:35] pvgbabu commented on #513
Kubefloe Jupyter lab oS
NAME="Ubuntu"
VERSION="18.04.3 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.3 LTS"
VERSION_ID="18.04"

[2020-06-20 08:21] jinchihe commented on #513
Would you please show more details for the traceback?  Are you using `kubeflow-fairing` in kubeflow Jupyter notebook? if so, would you please upgrade `kubeflow-fairing` and try again?

[2020-06-20 08:25] jinchihe commented on #513
Guess that's caused by old google-auth installed, please update the google-auth library to the latest version (1.16.1). See more here https://github.com/googleapis/google-api-python-client/issues/939

[2020-06-20 08:28] #503 closed

[2020-06-22 05:37] jinchihe commented on #503
kubeflow-fairing v1.0.0 released: https://pypi.org/project/kubeflow-fairing/

[2020-06-22 11:42] pvgbabu commented on #513
@jinchihe  No luck. Same error
I have latest kubeflow-fairing==0.7.3  and google-auth (1.17.2)
Below are installed   libraries.
Please let us know.

absl-py==0.9.0
adal==1.2.4
aiohttp==3.6.2
argo-models==2.2.1a0
asn1crypto==0.24.0
astor==0.8.1
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.4.4
azure-applicationinsights==0.1.0
azure-common==1.1.25
azure-mgmt==4.0.0
azure-mgmt-advisor==1.0.1
azure-m

[2020-06-23 01:30] jinchihe commented on #513
Would you please show detailed traceback? We did not hit the problem before, and I cannot reproduce that. @pvgbabu

By the way, the `kubeflow-fairing` 1.0.0 has been released. Would you please try to reinstall or upgrade kubeflow-fairing, and try again?

[2020-06-23 12:47] jazzsir opened #514 "unable to pull a image from my registry signed by trusted roots"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I created a secret and applied it to service accounts

[code]

But I can't run below simple fairing code.
[code]

With errors

[code]

I think the problem is that fairing libraries can’t read “~/.docker/config.json” file.

**What did you expect to happen:**

**Anything else you would li

[2020-06-24 00:30] jinchihe commented on #514
Would you confirm is that same user (same user home `~/.docker/config.json`) ?

[2020-06-24 01:08] jazzsir commented on #514
@jinchihe I logged in my registry with ID: jazzsir on Host(//home/host01) to generate config.json file. And copied the file to Jupyter notebook(/home/jovyan/.docker)

[2020-06-24 03:10] jinchihe commented on #492
@songm28 I already implement that in #515, would you please help to review? Thanks a lot!

[2020-06-24 03:12] jinchihe commented on #514
@jazzsir If you worked out, and if this is Fairing bug,  would please create a PR to fix that? Thanks!

[2020-06-24 03:15] jinchihe commented on #206
This should be enhanced in #376 , closing the ticket.

[2020-06-24 03:15] #206 closed

[2020-06-25 07:17] yashjakhotiya opened #516 "Issues with Docker permissions in Jupyter notebook"
/kind bug

**What steps did you take and what happened:**
Running this
[code]
gave this error
[code]

**What did you expect to happen:**
To have sufficient permissions for `jovyan` user

**Anything else you would like to add:**
Jupyter is hosted from pre-built tf-2-cpu image

**Environment:**

- Fairing version: (use `python -c "import kubeflow.fairing; print(kubeflow.fairing.__version__)"`): `1.0

[2020-06-25 13:11] yashjakhotiya commented on #516
For anyone facing the same issue in future - follow instructions at https://cloud.google.com/container-registry/docs/advanced-authentication in Jupyter Terminal. There are no permission issues for `jovyan`.

[2020-06-25 13:11] #516 closed

[2020-06-28 08:38] jinchihe opened #519 "Support specify the secret for the deployer"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Support specify the secret for the deployer, from below code, Fairing support mount PVC, should also support mounting secret.

https://github.com/kubeflow/fairing/blob/7c46973f49934f683dadefb43f85dcdaf2259586/kubeflow/fairing/kubernetes/utils.py#L44

**Anything else you would like to

[2020-06-29 23:30] jlewi commented on #503
Woo Hoo great work @jinchihe

[2020-07-01 15:38] hamedhsn opened #521 "ImportError: cannot import name 'V1alpha2TensorRTSpec' from 'kfserving'"
/kind bug

**What steps did you take and what happened:**
trying to update my dependencies and seems that underlying kfserving package introduced this bug in new version.
[code]

reverting back to `kfserving = "0.3.0.1"` solve the issue but would be good if that is fixed.
I know @jinchihe you are involved with kfserving can you please have a look at it. should be a quick fix.

Thanks!

[2020-07-06 15:28] pvgbabu commented on #513
Thanks @jinchihe, kubeflow-fairing 1.0.0  working fine. But i am having issues with docker image push becoz of docker inside dicker and dockerd initiation. is there any image or yaml to address docker inside docker image push to repositories.

[2020-07-07 08:20] jinchihe commented on #521
@hamedhsn I'm going to fix this in PR #522 Thanks.

[2020-07-07 08:40] jinchihe commented on #513
I have not, but why not try `cluster` build, that's no need docker in docker. Thanks.

[2020-07-07 09:29] #492 closed

[2020-07-07 09:59] #519 closed

[2020-07-07 12:32] jinchihe commented on #521
The problem already fixed in #522, and we can try the cases with new kubelow-fairing SDK v1.0.1. Thanks

/close

[2020-07-07 12:32] #521 closed

[2020-07-07 12:38] pvgbabu commented on #513
Could you please explain/refer me to any link/example for cluster build.
Appreciate all your help.

On Tue, Jul 7, 2020 at 3:40 AM Jin Chi He <notifications@github.com> wrote:

--
Ganesh Babu P V
Manger Enterprise Advanced Analytics (ML/DS/AI)
TD Ameritrade
Omaha,NE